In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>

# 1절 변수

- 파이썬 변수선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨

## 1.1 변수할당

- 할당연산자(=)를 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [39]:
r = 5
area = 3.14 * r * r
print("1. 계산된 넓이는 " + str(area))
print("2. 계산된 넓이는", area)

1. 계산된 넓이는 78.5
2. 계산된 넓이는 78.5

In [45]:
import numpy as np

area = np.pi * r * r
print('area =', area)

area = 78.53981633974483

In [47]:
area.is_integer() #area 값이 integer인지 여부 반환

False

In [51]:
print("area의 주소", id(area)) #id(area) : area변수의 주소값
print("area의 타입", type(area))

area의 주소 2067886835920
area의 타입 <class 'float'>

In [56]:
area = 5.5
print("area의 주소", id(area)) #id(area) : area변수의 주소값
print("area의 타입", type(area))

area의 주소 2067892449040
area의 타입 <class 'float'>

In [61]:
area = 10
print("area의 주소", id(area)) #id(area) : area변수의 주소값
print("area의 타입", type(area))

area의 주소 2067758449168
area의 타입 <class 'int'>

In [63]:
area = "파이썬"
print("area의 주소", id(area)) #id(area) : area변수의 주소값
print("area의 타입", type(area))

area의 주소 2067896039440
area의 타입 <class 'str'>

## 1.2 변수이름 규칙

- 문자로 시작 (숫자시작불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나, 피한다. 써야한다면 int_ 식으로 _를 이용
- 파이썬 예약어 (for, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시해만 이용

In [65]:
이름 = "홍길동"
print(이름)

홍길동

In [66]:
이름

'홍길동'

In [71]:
# 예약어는 변수로 사용이 불가하다
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [69]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [70]:
# 대문자로 시작하는 변수, 함수명 강력비추
Print = 10 
print(Print)

10

In [72]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j # 복소스
type(i)

complex

In [73]:
isinstance(i, complex) # i변수(객체)가 complex인지 여부

True

## 1.3 도움말

In [74]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [84]:
# help를 빠져나올려면 q입력 
help()
# ESC + o : 결과 접기/펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# 도움말 기능 : shift + tab 키 tab 키
print()

In [85]:
def add(x, y = 0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10 의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2, 3) => 23
    '''
    return x * 10 + y

In [86]:
add(2)

20

In [92]:
# 변수에 함수도 할당할 수 있다.
a = add
a(2, 3)

23

## 1.4 다중 변수 할당

In [93]:
a = 10
b = 20

In [95]:
a, b = 10, 20
print(a, b)

10 20

In [96]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
# 뭔 소리야 ~ ㅋㅋㅋ... 많이 쓰지 않지만, 쓸떄가 있다.
a, b = b, a+b
print(a, b)

20 30

# 2절 화면입출력(i / o)

In [2]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는? ")
first

첫번째 숫자는? 10

'10'

In [3]:
second = input("두번쨰 숫자는? ")
second

두번쨰 숫자는? 20

'20'

In [4]:
sum = int(first) + int(second)
print("합 :", sum)

합 : 30

In [11]:
first = int(input("첫번째 숫자는? "))
second = int(input("두번쨰 숫자는? "))
sum = first + second
print("합", sum)

첫번째 숫자는? 10
두번쨰 숫자는? 20
합 30

In [22]:
print("합", sum, sep='=', end=' / ')
print("합", sum, sep=' ~ ', end=' / ')
print("합", sum, sep=' ')

합=30 / 합 ~ 30 / 합 30

In [31]:
import sys
print('hello','world', sep=', ', file=sys.stdout)

hello, world

# 3절 기본 자료형

## 스칼라데이터
- 변수 = 값

- 자료형에 따라 값이 크기와 저장방식이 달라짐
    - 숫자 : int (x), float(x.x), complex
    - 문자 : str
    - 논리 : bool (True / False)
    
## 3.1 숫자형

In [32]:
sys.maxsize # 정수의 최대값 2의 64승 -1 (2**64 - 1)

9223372036854775807

In [37]:
i = sys.maxsize + 100000000000
print(i)
print(type(i))

9223372136854775807
<class 'int'>

In [40]:
f = 4 / 2 # 정수 / 정수는 무조건 실수
print(f)
print(type(f))

2.0
<class 'float'>

In [45]:
# 자바처럼 정수/정수의 결과를 정수로 
f = 4 // 2 #몫연산자
print(f)
print(type(f))

# 몫연산자 사용을 안 할 경우
f = int(4 / 2)
print(f)
print(type(f))

2
<class 'int'>
2
<class 'int'>

In [46]:
c = 1j # 수학시간의 0 + 1i
print(c ** 2) # ** 승연산자

(-1+0j)

In [49]:
f = 1.12e12 # 1.12의 10의 12승 1120000000000.0
print('지수형 표현할 당시 실수형으로 저장 :',f)
print(type(f))

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
<class 'float'>

In [56]:
f = 1.12e-12
print('지수형 표현할 당시 실수형으로 저장 :',f)
print(type(f))

지수형 표현할 당시 실수형으로 저장 : 1.12e-12
<class 'float'>

## 3.2 문자형

- 쌍따옴표("")나 홑따옴표('') 이용

In [66]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"' # 홍길동"짱"
address = '서울시 관악구 \'신림동\'' # 서울시 관악구 '신림동'
address = "서울시 관악구 '신림동'" # 서울시 관악구 '신림동'
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [73]:
# 문자형 변수 여러줄
text = """여러줄 짜리 내용
줄바꿈문자를 쓰기 않고, 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요 ㅋㅋ xx 010-9999-9999 020202-1023456"""
print(text)

여러줄 짜리 내용
줄바꿈문자를 쓰기 않고, 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요 ㅋㅋ xx 010-9999-9999 020202-1023456

### ※ 문자열 연산

In [74]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [75]:
print(name1 * 3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터

- 용도 : 정규표현식 이용, 디렉토리 경로 표현식 이용

In [83]:
print('Hello\nWorld')
# r 을 붙이면 역슬래시 문자를 해석하지 않고 남겨둠
print(r'Hello\nWorld')
# 또는
print('Hello\\nWorld')

Hello
World
Hello\nWorld
Hello\nWorld

### ※ 정규표현식
```
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d     (숫자와 매치, [0-9]와 동일)
    \D     (숫자가 아닌것)
    \w     (영문자나 숫자, [a-zA-Z0-9])
    \W     (영문자나 숫자가 아닌 문자)
    .      (문자)
    \.     (. 의미)
    \-     (- 의미)
    {2, 4} (2~4번 반복)
    {4}    (4번 반복)
    {2,}   (2번이상 반복)
    +      (1번이상 반복)
    *      (0번이상 반복)
    ?      (0번이나 1번 반복)
3. 정규표현식 연습장 (https://regexr.com/)
    ex1. 전화번호 : 010-9999-9999 02-7777-8888 01088889999 0277778888 02)713-3456 010 1234 1234 010.1234.1234
    ex2. 이메일 : abc@naver.com / abc123@to7.co.kr / abc@한국.com
4. 소스 구현    
 
```

In [137]:
#phone_pattern = r'[0-9]{2,3}[\-). ]?[0-9]{3,4}[\-. ]?[0-9]{4}'
#email_pattern = r"[\w]{3,}@[0-9a-zA-Z가-힣]+(\.[a-zA-Z]+){1,2}"

In [3]:
# 전화번호 뽑기 정규표현식
# [0-9]{2, 3}-[0-9]{3, 4}-[0-9]{4}
# \d{2, 3}-\d{3,4}-\d{4}
# [0-9]{2,3}[\-) ]?[0-9]{3,4}[\- ]?[0-9]{4}
# [a-zA-Z ]

import re
phone_data = "홍길동인데 전번이 041-888-8888 010-9999-9999 02-7777-8888 01088889999 0277778888 \
02)713-3456 010 1234 1234 010.1234.1234 동해번쩍 서해번쩍 ㅋㅋ ㅠㅠ 오늘날씨는 엄청 좋아요 Nice Good Day"
# print(phone_data)
phone_pattern = r'[0-9]{2,3}[\-). ]?[0-9]{3,4}[\-. ]?[0-9]{4}'
# 해당 패턴을 다 찾아줌, 없으면 [] 반환
phone = re.findall(phone_pattern, phone_data)
print(phone)

['041-888-8888', '010-9999-9999', '02-7777-8888', '01088889999', '0277778888', '02)713-3456', '010 1234 1234', '010.1234.1234']

In [219]:
# search() : 정규표현식 패턴과 일치하는 처음단어만 찾음
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
# firstPhone = re.findall(pattern, phone_data)
firstPhone = re.search(pattern, phone_data)
print(firstPhone)

<re.Match object; span=(10, 22), match='041-888-8888'>

In [218]:
# 문자 슬라이싱
print("문자 슬라이싱 :",phone_data[10:22])

문자 슬라이싱 : 041-888-8888

In [217]:
print('전화번호 전체 출력 :', firstPhone.group(0))
print('국번 :', firstPhone.group(1))
print('중간번호 :', firstPhone.group(2))
print('끝번호 :', firstPhone.group(3))

전화번호 전체 출력 : 041-888-8888
국번 : 041
중간번호 : 888
끝번호 : 8888

In [223]:
# 특수문자, 자음, 모음 없애기
re.sub(r'[^a-zA-Z가-힣0-9\s]','', phone_data)

'홍길동인데 전번이 0418888888 01099999999 0277778888 01088889999 0277778888 027133456 010 1234 1234 01012341234 동해번쩍 서해번쩍   오늘날씨는 엄청 좋아요 Nice Good Day'

In [229]:
# 파일 경로에는 반드시 r, \\, / 중 하나를 사용
# file_path = r"C:\ai_x\source\01_python\test.txt"
# file_path = "C:\\ai_x\\source\\01_python\\test.txt"
file_path = "C:/ai_x/source/01_python/test.txt"

In [235]:
file_stream = open(file_path, 'w')
print('Hello','World',sep=" ~ ") # 콘솔출력
print('Hello','World',sep=" ~ ", file=file_stream) # 파일 출력
file_stream.close() # close를 하지 않으면 파일저장이 되지 안 됨

Hello ~ World

In [4]:
email_data= "이메일 : abc@naver.com / abc123@to7.co.kr / abc@한국.com / abc@한국-com"
# email_pattern = r"[0-9a-zA-Z]+[\@][0-9a-zA-Z가-힣]*[\.][0-9a-zA-Z]*"
# email_pattern = r"[\w]{3,}@[0-9a-zA-Z가-힣]+(\.[a-zA-Z]+){1,2}"
# email_pattern = r"[\w]{3,}@[0-9a-zA-Z가-힣-]+(\.[a-zA-Z]{2,})+"
# email_pattern = r"[a-zA-Z0-9._+-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}"
email_pattern = r"[\w]{3,}@[0-9a-zA-Z가-힣.-]+\.[a-zA-Z]{2,}"

email = re.findall(email_pattern, email_data)
print(email)

['abc@naver.com', 'abc123@to7.co.kr', 'abc@한국.com']

### 문자열 슬라이싱

In [247]:
str_ = '0123456789'
# str_ = 'Python'
str_

'0123456789'

In [248]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [249]:
str_[20] # 없는 인덱싱은 에레

IndexError: string index out of range

In [250]:
# 문자열 슬라이싱
'''
문자변수[from:stop] : from 부터 stop 앞까지 추출
문자변수[from:stop:step] : from 부터 stop 앞까지 step 씩 전진하면서 추출
    step 생략시 1
    from 생략시 처음부터
    stop 생략시 끝까지
'''

'\n문자변수[from:stop]\n'

In [260]:
str_[0:5] # 0번쨰 ~ 5번째 앞까지

'01234'

In [261]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [263]:
str_[-4:] # -4번째부터 끝까지

'6789'

In [262]:
str_[-4:20] # 슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미

'6789'

In [254]:
str_[0:8:2]

'0246'

In [264]:
str_[9:0:-1]

'987654321'

In [280]:
# str_ = '0123456789'
# 첫문자 ~ 6번째 인덱스까지 추출
print(str_[0:7])
# 5번째 인덱스부터 끝까지 추출
print(str_[5:])
# str...를 꺼구로 추출
print(str_[::-1])
# 또는
print(str_[-1::-1])

0123456
56789
9876543210
9876543210

## 3.3 논리형(True/False)

In [62]:
a = True

print(a) # a : 매개변수 = 인자 = arguement
print(type(a)) # a변수의 타입
print(isinstance(a, bool)) # isinstance(변수, 타입) : 변수가 해당 타입인지 여부
print('a 주소 :', id(a))

b = True
print('b 주소 :', id(b))

b = False
print('b 주소 :', id(b))

True
<class 'bool'>
True
a 주소 : 140721454598352
b 주소 : 140721454598352
b 주소 : 140721454598384

In [3]:
int(True), int(False)

(1, 0)

In [28]:
# False로 간주되는 것 : 0, ""(빈스트링), None, [](빈리스트), (),{}(빈딕셔너리)
# False외의 값은 다 True : " "

print(isinstance(0, bool))
print(isinstance("", bool))
print(isinstance(None, bool))
print(isinstance([], bool))
print(isinstance((), bool))
print(isinstance({}, bool))

False
False
False
False
False
False

In [22]:
# i = 10
i = 4

if i > 5:
    print('잠깐 테스트')
#      print('i가 크다')
else:
    print('i가 부족하네')

i가 부족하네

In [61]:
if "":
    print("True다")
else:
    print("False다")

if " ":
    print("True다")
else:
    print("False다")

False다
True다

## 3.4 자료형 확인 및 형변환 함수

- type(변수)
- isinstance(변수, 타입)

- int()   : 정수형으로 변환
- float() : 실수형으로 변환
- str()   : 문자형으로 변환
- bool()  : 논리형으로 변환

In [102]:
int("123"), int(123.9), int(True), int(False), int("10    ")

(123, 123, 1, 0, 10)

In [100]:
float("123"), float(123), float(True), float(False), float("      123.5    ")

(123.0, 123.0, 1.0, 0.0, 123.5)

In [74]:
float("123")

123.0

### ※ int() 에러나는 것들
- int("123.5")
- int(' ')
- int('')
-int(1,000)

In [89]:
# int() 에러나는 것들
# int("123.5")
# int(' ')
# int('')
# int(1,000)

# 콤마 뺴고, int 형변환
isinstance(int("1,000".replace(',','')),int)

True

In [99]:
# float() 에러나는 것들
# float("1,000.0")

# 콤마 뺴고, float 형변환
isinstance(float("1,000.0".replace(',','')),float)

# float("")
# float(" ")

123.5

In [108]:
str("10"), str(10.5), str(True), str(False), str(1.12e12), str(format(1.12e12,',f'))

('10', '10.5', 'True', 'False', '1120000000000.0', '1,120,000,000,000.000000')

In [110]:
bool(""), bool(0), bool(0.0), bool([]), bool({}), bool(()), bool(None)

(False, False, False, False, False, False, False)

In [115]:
bool(" ")
bool(" ".strip())

False

### 파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절 포맷팅

- 포맷팅이란? 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열에 출력형식 지정

In [129]:
name = "홍길동"
age = 30
age2 = 430

print(name, "님의 나이는 ", age,"살입니다.", sep='')

홍길동님의 나이는 30살입니다.

In [136]:
# 옛날사람
print("%s님의 나이는 %3d살 입니다."%(name, age))
# %s : 문자, 3은 자릿수, %d : 정수, %f : 실수

print(f"{name}님의 나이는 {age}살 입니다.")
print(f"{name}님의 나이는 {age2}살 입니다.")

print("{}님의 나이는 {:3d}살 입니다.".format(name, age))
print("{}님의 나이는 {:3d}살 입니다.".format(name, age2))

홍길동님의 나이는  30살 입니다.
홍길동님의 나이는 30살 입니다.
홍길동님의 나이는 430살 입니다.
홍길동님의 나이는  30살 입니다.
홍길동님의 나이는 430살 입니다.

## 4.2 format() 문법

In [ ]:
"{[인덱스]:[공백대체문자][정렬방식][자릿수][타입]}".format(변수)
    # 인텍스 : format함수 안의 매개변수의 순서
    # 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
    # 정수자릿수 : 출력될 자릿수 d, 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
    # 실수자릿수 : 출력된 자릿수.소수점자릿수
    # 문자자릿수 : 전체확보될자릿수[.변수중출력할자릿수]s  ----->   10.2s (홍길동 -> 길동)
    # 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
    # 공백대체문자를 쓸 경우 정렬방식을 반드시 지입해야 함
    # 00101001

In [150]:
name = input("이름은? ")
age = int(input("나이는? "))
print("-----------------------------------------------")
print("나이는 {}살 {}님 반갑습니다.".format(age, name))
print("나이는 {1}살 {0}님 반갑습니다.".format(name, age))
print("나이는 {1:*^4d}살 {0:_>10s}님 반갑습니다.".format(name, age))

이름은? 오리온
나이는? 50
-----------------------------------------------
나이는 50살 오리온님 반갑습니다.
나이는 50살 오리온님 반갑습니다.
나이는 *50*살 _______오리온님 반갑습니다.

In [157]:
# 정렬방식
    # 숫자의 경우 : 오른쪽정렬(기본값)
    # 문자의 경우 : 왼쪽정렬(기본값)
    # 변수보다 작은 자릿수를 지정하면 자릿수가 무시되고 다 출력(정수, 문자 자리수)
    
i = 12345
s = "Hello"

print("[{}], [{:10d}], [{:3d}]".format(i,i,i))
print("[{0}], [{0:10d}], [{0:3d}]".format(i))

print("[{}], [{:10s}], [{:3s}]".format(s,s,s))
print("[{0}], [{0:10s}], [{0:3s}]".format(s))

[12345], [     12345], [12345]
[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]
[Hello], [Hello     ], [Hello]

In [183]:
# 문자 : 전체자리수.표현될자리수
# 실수 : 전체자리수.소수점이하 표현될 자리수

f = 2.758
s = "Hello"

print("f = {}".format(f))
print("-----------------------------------------------")
print("f = {:10.2f}".format(f))
print("f = {:5.2f}".format(f))
print("-----------------------------------------------")
print("f = {:$>10.2f}".format(f))
print("f = {:$>5.2f}".format(f))
print("-----------------------------------------------")
print("s = [{:10.2s}]".format(s))
print("s = [{:5.2s}]".format(s))
print("-----------------------------------------------")
print("s = [{:10.2s}]".format(s))
print("s = [{:5.2s}]".format(s))
print("-----------------------------------------------")
print("s = [{:_<10.2s}]".format(s))
print("s = [{:_<5.2s}]".format(s))

f = 2.758
-----------------------------------------------
f =       2.76
f =  2.76
-----------------------------------------------
f = $$$$$$2.76
f = $2.76
-----------------------------------------------
s = [He        ]
s = [He   ]
-----------------------------------------------
s = [He        ]
s = [He   ]
-----------------------------------------------
s = [He________]
s = [He___]

In [201]:
# + : 부호 출력
# = : 부호를 맨 앞으로 출력

a, b = 123, -123

print("[{:5d}], [{:5d}]".format(a, b))
print("[{:+5d}], [{:+5d}]".format(a, b))
print("[{:=+5d}], [{:=+5d}]".format(a, b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [221]:
# 
f = 2.785
print("소수점 2자리 : [{:+10.2f}]".format(f))
print("소수점 3자리 : [{:+10.3f}]".format(f))
print("소수점 4자리 : [{:+10.4f}]".format(f))

소수점 2자리 : [     +2.79]
소수점 3자리 : [    +2.785]
소수점 4자리 : [   +2.7850]

In [224]:
sign = "+"
width = 10
precision = 3

print("[{:{}{}.{}f}]".format(f, sign, width, precision))
print("[{:{sign}{width}.{precision}f}]".format(f, sign=sign, width=width, precision=precision))

[    +2.785]
[    +2.785]

In [226]:
# 10진수, 2진수, 16진수
a = 15
print("10진수 a = [{:5d}]".format(a))
print("10진수 a = [{:5x}]".format(a))
print("10진수 a = [{:5b}]".format(a))

10진수 a = [   15]
10진수 a = [    f]
10진수 a = [ 1111]

## 4.3 날짜출력

In [240]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 45, 38, 24760)

In [250]:
print(now)
print("{:%Y년 %m월 %d일 %p %I:%S}".format(datetime.now()))
print("{:%Y년 %m월 %d일 %H:%M:%S}".format(datetime.now()))

2025-04-09 17:45:38.024760
2025년 04월 09일 PM 05:50
2025년 04월 09일 17:48:50

In [258]:
print(now.strftime("%Y년 %m월 %d일 %p %I:%S"))
print(now.strftime("%Y년 %m월 %d일 %H:%M:%S"))

2025년 04월 09일 PM 05:38
2025년 04월 09일 17:45:38