In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>

# 5절 연산자

## 5.1 산술연산자 : +, - , *, / (무조건 실수), // (몫연산자), % (나머지), ** (제곱)

In [19]:
print(f'10의 5승 : {10 ** 5}')
print(f'4 / 2 (결과 실수) : {4 / 2}')
print(f'4 // 2 (몫) : {4 // 2}')
print(f'4 % 2 (나머지) : {4 % 2}')

10의 5승 : 100000
4 / 2 (결과 실수) : 2.0
4 // 2 (몫) : 2
4 % 2 (나머지) : 0

In [26]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력

num = int(input('정수를 입력하세요 : '))
result = num % 2

if result:
    temp = "홀수"
else:
    temp = "짝수"
    
print(f'입력하신 수는 {num}, 2로 나눈 나머지는 {temp}. 그래서 짝수를 입력하셨군요')

정수를 입력하세요 : 10
입력하신 수는 10, 2로 나눈 나머지는 짝수. 그래서 짝수를 입력하셨군요

In [29]:
# quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
# 진경
num = int(input('정수를 입력하세요 : '))
result = num % 5

if result:
    temp = "입니다"
else:
    temp = "아닙니다"

print(f'입력하신 수는 {num}, 5의 배수 {temp}.')

정수를 입력하세요 : 3
입력하신 수는 3, 5의 배수 아닙니다.

In [55]:
# 답
num = int(input('정수를 입력하세요 : '))
result = num % 5

if result:
    temp = "5의 배수가 아님"
else:
    temp = "5의 배수"
    
print(f'입력하신 수는 {num}, {temp}를 입력하셨군요')

정수를 입력하세요 : 5
입력하신 수는 5, 5의 배수를 입력하셨군요

In [54]:
# quiz3. 국, 영, 수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
# 국어 : 99  영어 : 100 수학 : 99
# 총점 : 296 평균 : 99.3
# 진경        
k_score = int(input('국어 점수를 입력하세요 : '))
e_score = int(input('영어 점수를 입력하세요 : '))
m_score = int(input('수학 점수를 입력하세요 : '))

score_sum = k_score + e_score + m_score
# score_avg = (k_score + e_score + m_score) / 3
score_avg = score_sum / 3

print('국어 : {:>3d}\t영어 : {:>3d} \t수학 : {:>3d}\n총점 : {:>3d}\t평균 : {:>5.1f}'.format(k_score, e_score, m_score, score_sum, score_avg))

국어 점수를 입력하세요 : 99
영어 점수를 입력하세요 : 100
수학 점수를 입력하세요 : 99
국어 :  99	영어 : 100 	수학 :  99
총점 : 298	평균 :  99.3

In [58]:
# 답
kor = int(input('국어? '))
eng = int(input('영어? '))
mat = int(input('수학? '))

sum = kor + eng + mat
avg = sum / 3

print('국어 : {:3d}\t영어 : {:3d} \t수학 : {:3d}'.format(kor, eng, mat))
print('총점 : {:3d}\t평균 : {:5.1f}'.format(sum, avg))

국어? 99
영어? 100
수학? 99
국어 :  99	영어 : 100 	수학 :  99
총점 : 298	평균 :  99.3

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [69]:
a = 10
a += 5 # a = a + 5
print("5더하기 :", a)

5더하기 : 15

In [70]:
a -= 5 # a = a - 5
print("5빼기 :", a)

a *= 5 # a = a * 5
print("5배 :", a)

5빼기 : 10
5배 : 50

## 5.3 논리연산자 : &, and, |, or, not

In [78]:
# & 논리연산
print((10 > 3)&(10 > 5)) # 논리연산 True & True
print(12 & 1) # 비트연산 12 : 0000 1100
              #          1 : 0000 0001
              #     12 & 1 : 0000 0000

True
0

In [86]:
# and : 논리연산에서만 사용 가능 
# False 로 판별되는 첫번쨰 항의 결과 반환
# 모든 항이 참이면, 마지막 항을 반환
print(True and True and True)
print(False and True and True)

print(True and 1 and 3)
print(0 and True)
print(True and 'abc')
print(True and False and True and True and True and True)

True
False
3
0
abc
False

In [91]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 떄) : ', result)

result = False | 3 # 0000 0000 (False)
                   # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) : ', result)

논리연산(연산자 앞뒤에 논리형일 떄) :  True
비트연산(연산자 앞이나 뒤에 숫자일 때) :  3

In [94]:
# or : 논리연산 참으로 판별되는 첫번째 항의 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('Hong' or '' or False)

None
Hong

In [96]:
print(not True)

False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [99]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print((4 < x) & (x < 10))
print(4 < x < 10)

True
True

In [104]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다
print((10 > 5) & (10 > 7))
print(10 > 5 & 10 > 7) # 0101 (5)
                       # 1010 (10)
print(10 > 0 > 7)
print(10 > 5 and 10 > 7) # 논리연산(and)의 우선순위가 높다 결과 True

True
False
False
True

In [111]:
address = "서울"
age = 29

# print(address == '서울' & age >= 30) # 에러발생 -> ()로 묶어줘야 합니다.
print( (address == '서울') & (age >= 30) )

print( (address != '서울') & (age >= 30) )

False
False

In [112]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
# https://namu.wiki/w/%EC%95%84%EC%8A%A4%ED%82%A4%20%EC%BD%94%EB%93%9C 
'scott' < 'tiger'

True

In [113]:
'9' > '10'

True

In [116]:
'김길동김수한무거북이와두루미삼척갑산동방석시리' < '홍길동'

True

## 비트연산자 : &, |, ^(XOR), ~

In [ ]:
x    y    x & y    x ^ y
0    0      0        0
0    1      0        1  
1    0      0        1
1    1      1        0

In [125]:
a = 15 # 1111
b = 2 # 0010

print("  a   = {0:2} : {0:04b}".format(a))
print("  b   = {0:2} : {0:04b}".format(b))
print("a ^ b = {0:2} : {0:04b}".format(a ^ b))

  a   = 15 : 1111
  b   =  2 : 0010
a ^ b = 13 : 1101

+ 연산자 
    - 산술연산 : + - * / // % **
    - 할당연산 : = += -= *= /= //= %=
    - 논리연산 : & and | or not
    - 비교연산 : > >= < <= == !=
    - 비트연산 : & | ^
    - & 와 | 은 비교연산자보다 우선순위가 높다.

# 6절 문자열 다루기

- 문자열 슬라이싱 변경 : [start : stop : step]
- len(문자열변수) : 문자갯수

- upper() : 대문자
- lower() : 소문자
- title() : 각 어절의 첫글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count('찾을문자') : '찾을문자'가 몇개 들어있는지 갯수 반환
- find('찾을문자') : '찾을문자'열이 왼쪽부터 시작하여, 몇번째 인덱스에 있는지 인텍스 반환
- rfind('찾을문자') : '찾을문자'열이 오른쪽부터 시작하여, 몇번째 인덱스에 있는지 인텍스 반환
    - **찾을문자열이 없으면 -1을 반환**
    - **cf) index('찾을문자') 찾을 문자열의 인덱스를 반환 **찾을문자열이 없으면 오류**
- startswitch('특정문자열') : 특정문자열로 시작하는지 여부
- endswitch('특정문자열') : 특정문자열로 끝나는지 여부
- strip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자문자열인지 여부 "100점" - 문자열
- islower() : 소문자문자열인지 여부
- isupper() : 대문자문자열인지 여부
- replace(oldstr, newstr) : oldstr을 newstr로 변경

In [155]:
temp = "python is easy. Python is smart. python"
#       012345678901234567890123456789012345678
print('1. 글자수 :', len(temp))

1. 글자수 : 39

In [156]:
print('2. 대문자로 :', temp.upper())

2. 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON

In [157]:
print('3. 소문자로 :', temp.lower())

3. 소문자로 : python is easy. python is smart. python

In [158]:
print('4. title :', temp.title())

4. title : Python Is Easy. Python Is Smart. Python

In [181]:
print('5. capitalize() :', temp.capitalize())

5. capitalize() : Python is easy. python is smart. python

In [179]:
print('6. python 몇번 나오는지', temp.count('python'))

6. python 몇번 나오는지 2

In [176]:
print('7. 대문자구분없이 python이 몇번 나오는지 : ', temp.lower().count('python'))
print('7. 대문자구분없이 PYTHON 몇번 나오는지 : ', temp.upper().count('PYTHON'))
print('7. 대문자구분없이 Python 몇번 나오는지 : ', temp.title().count('Python'))

7. 대문자구분없이 python이 몇번 나오는지 :  3
7. 대문자구분없이 PYTHON 몇번 나오는지 :  3
7. 대문자구분없이 Python 몇번 나오는지 :  3

In [183]:
print('8. python이 나오는 첫 index 위치',temp.find('python'))
print('8. python이 나오는 마지막 index 위치',temp.rfind('python'))
print('8. java 나오는 마지막 index 위치',temp.find('java'))

8. python이 나오는 첫 index 위치 0
8. python이 나오는 마지막 index 위치 33
8. java 나오는 마지막 index 위치 -1

In [187]:
print('9. python으로 시작하는지 여부',temp.startswith('python'))
print('10. python으로 시작하는지 여부',temp.endswith('PYTHON'))
print('10. 대소문자 구분없이 PYTHON으로 시작하는지 여부',temp.upper().endswith('PYTHON'))

9. python으로 시작하는지 여부 True
10. python으로 시작하는지 여부 False
10. 대소문자 구분없이 python으로 시작하는지 여부 True

In [222]:
temp = '        Python is easy.       '
notdisit = '1,000,000'
num_str = "1000"

print('11. 좌우공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백제거 : [{}]'.format(temp.rstrip()))

11. 좌우공백제거 : [Python is easy.]
11. 좌측공백제거 : [Python is easy.       ]
11. 우측공백제거 : [        Python is easy.]

In [197]:
print('12. 숫자문자열인지 :',format(notdisit.isdigit()))

12. 숫자문자열인지 : False

In [238]:
print('13. 소문자문자열인지 :',temp.islower())
print('13. 대문자문자열인지 :',temp.isupper())

13. 소문자문자열인지 : False
13. 대문자문자열인지 : False

In [226]:
print('14. ,제거 :', notdisit.replace(',',''))
print('14. ,제거 :', num_str.replace(',',''))

14. ,제거 : 1000000
14. ,제거 : 1000

In [230]:
temp = " 홍길동     김길동 신기똥 유길동"

print("space단위로 temp를 분리 :", temp.split()) # 기본이 space 단위로 분리

space단위로 temp를 분리 :  ['홍길동', '김길동', '신기똥', '유길동']

In [247]:


print(" - 단위로 data를 분리(결과 : list)")
data_list = data.split('-')
print(data_list)
print('{Y}년 {M}월 {D}일'.format(Y=data_list[0],M=data_list[1],D=data_list[2]))

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
2025년 04월 10일

In [251]:
# " - " 을 '/'로 바꾸기
temp = "Python - HTML/CSS - Javascript - DBMS"
# temp = "Python - HTML/CSS - Javascript - DBMS - 딥러닝(DNN-CNN-RNN) - 머신러닝"
# print(temp.replace(' - ', '/'))

print("원 데이터 : ", temp)

splited_temp = temp.split(' - ')
print("분리된 데이터", splited_temp)

joined_temp = '/'.join(splited_temp)
print("join된 데이터", joined_temp)

원 데이터 :  Python - HTML/CSS - Javascript - DBMS
분리된 데이터 ['Python', 'HTML/CSS', 'Javascript', 'DBMS']
join된 데이터 Python/HTML/CSS/Javascript/DBMS

In [254]:
str_ = 'ABC'
# str_ = ['A','B','C']

In [260]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절 시간, 날짜, 날짜시간 다루기

In [79]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [83]:
# datetime 모듈 (datetime.py) 안에 datetime, date, time을 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [85]:
# 특정한 시점을 갖는 datetime 객체를 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [94]:
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 반환
print("{:%Y년%m월%d일(%A) %p %I시%M분%S초}".format(thatday))
print(thatday.strftime("%Y년%m월%d일(%A) %p %I시%M분%S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일(월요일) 오전 09시30분00초
2025년04월07일(월요일) 오전 09시30분00초

In [93]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [119]:
now = datetime.now()
now
print(now)
print(now.ctime())
print("{:%y년%m월%d일(%A) %p %I시%M분%S초}".format(now))
print(now.strftime("%y-%m-%d(%A) %H:%M:%S"))

2025-04-11 10:38:18.238887
Fri Apr 11 10:38:18 2025
25년04월11일(금요일) 오전 10시38분18초
25-04-11(금요일) 10:38:18

In [103]:
diff = now-thatday
diff

datetime.timedelta(days=4, seconds=2741, microseconds=400081)

In [104]:
diff.days

4

## 7.2 날짜

In [116]:
someday = date(2025, 9, 2)
someday

datetime.date(2025, 9, 2)

In [117]:
print(someday.strftime("%Y년%m월%d일"))

2025년09월02일

In [112]:
# 오늘
today1 = datetime.now().date()
today2 = date.today()

today1 == today2

True

In [115]:
print(today1.strftime("%Y년%m월%d일"))
print(today2.strftime("%Y년%m월%d일"))

2025년04월11일
2025년04월11일

In [122]:
diff = someday - today
diff.days

144

## 7.3 시간

In [124]:
# 특정시간
t = time(13, 10)
t

datetime.time(13, 10)

In [126]:
print(t)
print(t.strftime("%p %I시 %M분"))

13:10:00
오후 01시 10분

In [128]:
# 지금시간
now_time = datetime.now().time()
now_time

datetime.time(10, 42, 27, 642368)

In [130]:
print(now_time)
print(now_time.strftime("%H시%M분%S초"))

10:42:27.642368
10시42분27초

**datetime, date, time형들을 원하는 포맷의 문자형으로 반환 : strftime()**
- %Y %y %m, %d %A(요일) %p(오전/오후) %H(24시), %I(12시), %M(분), %S(초)

# 8절 연습문제

In [267]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# [출력형식 : 홍길동님의 나이는 23 살입니다]
name = "홍길동"
age = 23

print("[출력형식 : {}님의 나이는 {} 살입니다.]".format(name, age))

[출력형식 : 홍길동님의 나이는 23 살입니다.]

In [269]:
# 2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요.

first_num = int(input('첫번째 정수를 입력해 주세요.'))
second_num = int(input('두번쨰 정수를 입력해 주세요.'))

print(f"{first_num} + {second_num} = {first_num + second_num}")
print(f"{first_num} - {second_num} = {first_num - second_num}")
print(f"{first_num} * {second_num} = {first_num * second_num}")
print(f"{first_num} / {second_num} = {first_num / second_num}")
print(f"{first_num} // {second_num} = {first_num // second_num}")
print(f"{first_num} % {second_num} = {first_num % second_num}")

첫번째 정수를 입력해 주세요.10
두번쨰 정수를 입력해 주세요.2
10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 / 2 = 5.0
10 // 2 = 5
10 % 2 = 0

In [26]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 'Hello Wolrd'가 할당된 변수를 이용하여 'World Hello' 로 출력하세요
text = "Hello Wolrd"

textSplit = text.split();
print(textSplit)
print(textSplit[1], textSplit[0])

# join_text = " ".join(textSplit)
# print(join_text)

['Hello', 'Wolrd']
Wolrd Hello

In [282]:
# 4. x = 'abcdef'를 이용하여 'bcdefa' 로 출력하세요 (문자 슬라이싱이용)
x = 'abcdef'

print(f"{x[1:]}{x[0:1]}")

bcdefa

In [280]:
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
print(x[::-1])

fedcba

In [301]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
# 화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 
# 소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다 
# (다음은 섭씨와 화씨의 변환 공식입니다 .C 는 섭씨 ,F 는 화씨)
# C = (F-32) / 1.8
# F = (C*1.8) + 32

c = int(input("섭씨(C) 온도를 입력해 주세요.\n화씨(F)온도로 변경을 해 드릴께요 "))
# f = int(input("화씨(F) 온도를 입력해 주세요.\n섭씨(C)온도로 변경을 해 드릴께요 "))
result = (c*1.8) + 32
print(result)
print(result.is_integer())
if result.is_integer():
    print("입력된 섭씨온도는 {:2d} 이며, 화씨온도로 변경하면 {:2d} 입니다.".format(c, int(result)))
else:
    print("입력된 섭씨온도는 {:2d} 이며, 화씨온도로 변경하면 {:.2f} 입니다.".format(c, result))

섭씨(C) 온도를 입력해 주세요.
화씨(F)온도로 변경을 해 드릴께요 10
50.0
True
입력된 섭씨온도는 10 이며, 화씨온도로 변경하면 50 입니다.

In [ ]:
# 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
① for
② 10th
③ Student.name
④ _1234

# 정답 : ① ② ③

In [265]:
# 8. 다음의 코드의 실행결과는?
text = "Seoul A001 - programming with python"
print(text[:4] + text[-1] + text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [133]:
# 9.다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은
# ① 수식 8//2 결과 4
# ② 식 8/2 결과 4
# ③ 수식 8 ** 2 결과 64

print(8//2, 8/2, 8**2)

# 정답 : ②

4 4.0 64

In [131]:
# 10.아래 프로그램의 결과는

x = 5
y = "John"
print(x + y) # error

# 정답 : error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [290]:
# 11.split() 함수를 이용하여 str_ 의 값 중 나라 를 출력하는 프로그램을 완성하시오

str_ = "우리 나라 대한 민국".split(" ")
# print(str_)
print(str_[1])

나라