In [5]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:13pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch03 데이터구조</font>

- 리스트 [] : 수정가능
- 튜플 () : 수정불가
- 딕셔너리 {}
- 셋

# 1절 리스트

## 1.1 리스트 만들기

- [] 를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장 / 관리할 수 있음
- list(리스트로 변환 가능한 자료) 함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작, 맨 마지막 인덱스는 -1
- 슬라이싱 ( [from:stop:step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이요해서 읽기 / 쓰기 지원

In [9]:
fruits = ['banana', 'apple', 'orange', 'grape']
print(type(fruits))

<class 'list'>

In [12]:
print(fruits)

print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [13]:
fruits[0] = "mango"
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [20]:
fruits = ['mango', 'apple', 'orange']
# fruits = ['mango', 'apple', 'orange', 333] # error too many values to unpack (expected 3)
x, y, z = fruits

print(f"x = {x}")
print(f"y = {y}")
print("z = {}".format(z))
print(f"fruits = {fruits}")

x = mango
y = apple
z = orange
fruits = ['mango', 'apple', 'orange']

In [26]:
# range( from, to, by) : from부터 to 앞까지 by씩 증가하면서 지정된 범위의 정수
    # from 생략시 : 0
    # by 생략시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
range(0,10)

range(0, 10)

In [29]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(101,111))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [32]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [50]:
# 반복문(3회)
for i in range(3):
    print(i)

0
1
2

In [72]:
fruits = ['mango', 'apple', 'orange','grape']
# len(fruits) : 리스트 데이터 수
# print(len(fruits))

for i in range(len(fruits)):
    print("{}번쨰 과일은 {} 입니다.".format(i, fruits[i]))

0번쨰 과일은 mango 입니다.
1번쨰 과일은 apple 입니다.
2번쨰 과일은 orange 입니다.
3번쨰 과일은 grape 입니다.

In [75]:
for value in fruits:
    print(value)

mango
apple
orange
grape

In [76]:
i, v = [1, "mongo"]
print(i)
print(v)

1
mongo

In [88]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [84]:
# enumerate (나열가능한 자료) : (index,값) 등의 셋들
# for idx, value in [[0, 'mango'],[1, 'apple'],[2, 'orange'],[3, 'grape']]:
for idx, value in enumerate(fruits):
    print("{}번쨰 과일은 {} 입니다.".format(idx, value))

0번쨰 과일은 mango 입니다.
1번쨰 과일은 apple 입니다.
2번쨰 과일은 orange 입니다.
3번쨰 과일은 grape 입니다.

In [100]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [ 0, True, '2', 3, [4, 5, 6] ]

print(numbers)
print(numbers[1], numbers[4][1])
print('----------------------------------')
for idx, value in enumerate(numbers):
    print(idx, value)
print('----------------------------------')

[0, True, '2', 3, [4, 5, 6]]
True 5
----------------------------------
0 0
1 True
2 2
3 3
4 [4, 5, 6]
----------------------------------

In [113]:
# 2차원 리스트
numbers_2d = [ [90, 91, 92, 93],
               [80, 81, 82, 83], 
               [70, 71, 72, 73], ]

len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [135]:
for i, row in enumerate(numbers_2d):

    for j, value in enumerate(row):
        print("{} 행 {} 열 : {}".format(i, j, value) ,end="\t")
    print() # 개행 (다음줄로)

90	91	92	93
80	81	82	83
70	71	72	73

In [143]:
for row in numbers_2d:
#     print(row)
    for item in row:
#         print(item, end = "\t")
        print("{}".format(item), end = '\t')
    print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [165]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [ [100, 0], 
               [9, 100, 1, 2, 3], 
               [50, 54]]

In [159]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [166]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [167]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
#             max() : 0번 인덱스 요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [169]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ["mongo", "apple", "orange", 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [186]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순 :', sorted(numbers))
print('내림차순 :', sorted(numbers, reverse=True))
print("sorted함수 사용시 리스트 내용이 바뀌지 않음 :", numbers)

print("합 :", sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소추가

```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가 (기본 데이터는 shift)
```

In [191]:
# + : 연결
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [193]:
# * : 반복
numbers = [1, 2, 3]
numbers = numbers * 3
numbers

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [197]:
# append() : 맨 뒤에 요소 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [203]:
numbers = [1, 2, 3]
numbers.append([5, 6, 7]) # 맨 뒤에 하나의 요소로 추가
print(numbers)

[1, 2, 3, [5, 6, 7]]

In [201]:
# extend() : 맨 뒤에 리스트를 요소별로 추가
num = [1, 2, 3]
num.extend([4, 5, 6])
print(num)

[1, 2, 3, 4, 5, 6]

In [207]:
# insert(idx, 값) : idx번째 인덱스 위치에 추가 (기본 데이터는 shift)
num = [1, 2, 3]
num.insert(2, 'x')
print(num)

[1, 2, 'x', 3]

## 1.4 인덱싱과 요소 갯수

- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                     찾을데이타가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [211]:
# count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

numbers.count(2), numbers.count(9)

(2, 0)

In [213]:
# index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index 반환

1

In [214]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2, 3) # 3번째 index부터 2가 처음 나오는 index 반환

5

### ※ in 연산자

In [219]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

if numbers.count(9):
    print(numbers.index(9))
else:
    print("9가 없어요")
    
# in 연산자    
if 9 in numbers:
    print(numbers.index(9))
else:
    print("9가 없어요")

9가 없어요
9가 없어요

In [218]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

### ※ index 사용자 함수

In [222]:
def safe_index(lst, data):
    if data in lst: # lst안에 data가 있는지 여부
        return lst.index(data)
    else:
        return -1

In [226]:
print(safe_index(numbers, 3))
print(safe_index(numbers, 9))

2
-1

In [229]:
# numbers.index(9)
# numbers[9]
# numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출

1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인덱스의 범위 벗어나도 에러 안 남)
    - [ from : stop : step] from 부터 stop앞까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음
    - stop 생략시 끝
    - step 생략시 1. 
    - 모두 생략 가능
    - 음수 인텍스 가능
    
2. **<font color="red">리스트 컴플리헨션 : </font> : 리스트에서 원하는 데이터를 추출**

In [233]:
# 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인덱스의 범위 벗어나도 에러 안 남)
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

# 짝수번쨰 인덱스 값을 출력
print(numbers[::2])

# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [270]:
# 리스트 컴플리헨션 : 리스트에서 원하는 데이터를 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]


# 리스트에서 모든 데이터만 변수에 담아 출력하세요.
result = []
for data in numbers:
    result.append(data)
print(result)

# 리스트에서 짝수 데이터만 변수에 담아 출력하세요.
result = []
for data in numbers:
    if not data % 2:
        result.append(data)
        
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

**리스트 컴플리헨션**

In [296]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
print([data for data in numbers])

[1, 3, 5, 9, 10, 12, 13, 20]

In [295]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출

print([data for data in numbers if not data % 2])

[10, 12, 20]

In [298]:
# ex1. numbers에서 10 이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

numbers_change = [data for data in numbers if data >= 10]
print(numbers_change)

[10, 12, 13, 20]

In [302]:
# ex2. fruits 에서 5글자 넘는 과일만 추출
fruits = ['orange', 'apple', 'mongo', 'kiwi']

fruits_change = [data for data in fruits if len(data) > 5]
print(fruits_change)

['orange']

In [292]:
# ex3. 3이상의 요소들의 제곱을 추출
l = [1, 2, 3, 4, 5]

l_change = [data**2 for data in l if data >= 3]
print(l_change)

[9, 16, 25]

## 1.6 요소 수정하기

In [314]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 인덱스를 이용해서 요소 수정
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [327]:
# 슬라이싱을 이용해서 요소 수정 (step부분이 미포함 : 부분 리스트가 통쨰로 수정)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1:4] = ['x', 'y', 'z', 'ㅋ', 'ㅎ']
# numbers[1:4] = ['x']
numbers

[0, 'x', 'y', 'z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [333]:
# 슬라이싱을 이용해서 요소 수정 (step부분 포함 : 요소 갯수가 맞아야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# numbers[::2] = [99,99,99,99,99]
# 또는
numbers[::2] = ['xx']*5
numbers

['xx', 1, 'xx', 3, 'xx', 5, 'xx', 7, 'xx', 9]

## 1.7 요소 삭제

- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx 번째 요소가 반환되고 삭제
- remove(지울data) : 리스트안의 data가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [353]:
# pop()
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()

print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

# pop(idx)
delete_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data2, numbers))

# del 변수[idx]
del numbers[2]
print("numbers :", numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [358]:
# remove(지울데이터)
numbers = [1, 2, 3, 4, 5]

# remove()는 반환값이 없고, 해당 데이터만 삭제 데이터가 없으면 오류
del_num = numbers.remove(3) 
print(numbers)

[1, 2, 4, 5]

In [370]:
# 해당 데이터만 삭제 데이터가 없으면 오류
numbers = [1, 2, 3, 4, 5]

numbers.remove(9)

ValueError: list.remove(x): x not in list

In [371]:
numbers = [1, 2, 3, 4, 5]

if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터가 없습니다.")

해당 데이터가 없습니다.

In [377]:
numbers = [1, 2, 3, 4, 5]

def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, "는 삭제완료", numbers)
    else:
        print(f"{remove_data}는 없는 아이템입니다.")
        
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다.
5 는 삭제완료 [1, 2, 3, 4]