In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:13pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch03 데이터구조</font>

- 리스트 [] : 수정가능
- 튜플 () : 수정불가
- 딕셔너리 {}
- 셋

# 1절 리스트

## 1.1 리스트 만들기

- [] 를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장 / 관리할 수 있음
- list(리스트로 변환 가능한 자료) 함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작, 맨 마지막 인덱스는 -1
- 슬라이싱 ( [from:stop:step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이요해서 읽기 / 쓰기 지원

In [3]:
fruits = ['banana', 'apple', 'orange', 'grape']
print(type(fruits))

<class 'list'>

In [12]:
print(fruits)

print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [13]:
fruits[0] = "mango"
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [20]:
fruits = ['mango', 'apple', 'orange']
# fruits = ['mango', 'apple', 'orange', 333] # error too many values to unpack (expected 3)
x, y, z = fruits

print(f"x = {x}")
print(f"y = {y}")
print("z = {}".format(z))
print(f"fruits = {fruits}")

x = mango
y = apple
z = orange
fruits = ['mango', 'apple', 'orange']

In [26]:
# range( from, to, by) : from부터 to 앞까지 by씩 증가하면서 지정된 범위의 정수
    # from 생략시 : 0
    # by 생략시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
range(0,10)

range(0, 10)

In [29]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list(range(101,111))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [32]:
list(range(10,-1,-2))

[10, 8, 6, 4, 2, 0]

In [50]:
# 반복문(3회)
for i in range(3):
    print(i)

0
1
2

In [72]:
fruits = ['mango', 'apple', 'orange','grape']
# len(fruits) : 리스트 데이터 수
# print(len(fruits))

for i in range(len(fruits)):
    print("{}번쨰 과일은 {} 입니다.".format(i, fruits[i]))

0번쨰 과일은 mango 입니다.
1번쨰 과일은 apple 입니다.
2번쨰 과일은 orange 입니다.
3번쨰 과일은 grape 입니다.

In [75]:
for value in fruits:
    print(value)

mango
apple
orange
grape

In [76]:
i, v = [1, "mongo"]
print(i)
print(v)

1
mongo

In [88]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [84]:
# enumerate (나열가능한 자료) : (index,값) 등의 셋들
# for idx, value in [[0, 'mango'],[1, 'apple'],[2, 'orange'],[3, 'grape']]:
for idx, value in enumerate(fruits):
    print("{}번쨰 과일은 {} 입니다.".format(idx, value))

0번쨰 과일은 mango 입니다.
1번쨰 과일은 apple 입니다.
2번쨰 과일은 orange 입니다.
3번쨰 과일은 grape 입니다.

In [100]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [ 0, True, '2', 3, [4, 5, 6] ]

print(numbers)
print(numbers[1], numbers[4][1])
print('----------------------------------')
for idx, value in enumerate(numbers):
    print(idx, value)
print('----------------------------------')

[0, True, '2', 3, [4, 5, 6]]
True 5
----------------------------------
0 0
1 True
2 2
3 3
4 [4, 5, 6]
----------------------------------

In [113]:
# 2차원 리스트
numbers_2d = [ [90, 91, 92, 93],
               [80, 81, 82, 83], 
               [70, 71, 72, 73], ]

len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [135]:
for i, row in enumerate(numbers_2d):

    for j, value in enumerate(row):
        print("{} 행 {} 열 : {}".format(i, j, value) ,end="\t")
    print() # 개행 (다음줄로)

90	91	92	93
80	81	82	83
70	71	72	73

In [143]:
for row in numbers_2d:
#     print(row)
    for item in row:
#         print(item, end = "\t")
        print("{}".format(item), end = '\t')
    print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [165]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [ [100, 0], 
               [9, 100, 1, 2, 3], 
               [50, 54]]

In [159]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [166]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [167]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
#             max() : 0번 인덱스 요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [169]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ["mongo", "apple", "orange", 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [186]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순 :', sorted(numbers))
print('내림차순 :', sorted(numbers, reverse=True))
print("sorted함수 사용시 리스트 내용이 바뀌지 않음 :", numbers)

print("합 :", sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소추가

```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가 (기본 데이터는 shift)
```

In [191]:
# + : 연결
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [193]:
# * : 반복
numbers = [1, 2, 3]
numbers = numbers * 3
numbers

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [197]:
# append() : 맨 뒤에 요소 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [203]:
numbers = [1, 2, 3]
numbers.append([5, 6, 7]) # 맨 뒤에 하나의 요소로 추가
print(numbers)

[1, 2, 3, [5, 6, 7]]

In [201]:
# extend() : 맨 뒤에 리스트를 요소별로 추가
num = [1, 2, 3]
num.extend([4, 5, 6])
print(num)

[1, 2, 3, 4, 5, 6]

In [207]:
# insert(idx, 값) : idx번째 인덱스 위치에 추가 (기본 데이터는 shift)
num = [1, 2, 3]
num.insert(2, 'x')
print(num)

[1, 2, 'x', 3]

## 1.4 인덱싱과 요소 갯수

- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                     찾을데이타가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [211]:
# count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

numbers.count(2), numbers.count(9)

(2, 0)

In [213]:
# index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index 반환

1

In [214]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.index(2, 3) # 3번째 index부터 2가 처음 나오는 index 반환

5

### ※ in 연산자

In [219]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]

if numbers.count(9):
    print(numbers.index(9))
else:
    print("9가 없어요")
    
# in 연산자    
if 9 in numbers:
    print(numbers.index(9))
else:
    print("9가 없어요")

9가 없어요
9가 없어요

In [218]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

### ※ index 사용자 함수

In [222]:
def safe_index(lst, data):
    if data in lst: # lst안에 data가 있는지 여부
        return lst.index(data)
    else:
        return -1

In [226]:
print(safe_index(numbers, 3))
print(safe_index(numbers, 9))

2
-1

In [229]:
# numbers.index(9)
# numbers[9]
# numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출

1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인덱스의 범위 벗어나도 에러 안 남)
    - [ from : stop : step] from 부터 stop앞까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음
    - stop 생략시 끝
    - step 생략시 1. 
    - 모두 생략 가능
    - 음수 인텍스 가능
    
2. **<font color="red">리스트 컴플리헨션 : </font> : 리스트에서 원하는 데이터를 추출**

In [233]:
# 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출 (인덱스의 범위 벗어나도 에러 안 남)
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

# 짝수번쨰 인덱스 값을 출력
print(numbers[::2])

# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [270]:
# 리스트 컴플리헨션 : 리스트에서 원하는 데이터를 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]


# 리스트에서 모든 데이터만 변수에 담아 출력하세요.
result = []
for data in numbers:
    result.append(data)
print(result)

# 리스트에서 짝수 데이터만 변수에 담아 출력하세요.
result = []
for data in numbers:
    if not data % 2:
        result.append(data)
        
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

### ※ **리스트 컴플리헨션**

In [296]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
print([data for data in numbers])

[1, 3, 5, 9, 10, 12, 13, 20]

In [295]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출

print([data for data in numbers if not data % 2])

[10, 12, 20]

In [298]:
# ex1. numbers에서 10 이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]

numbers_change = [data for data in numbers if data >= 10]
print(numbers_change)

[10, 12, 13, 20]

In [302]:
# ex2. fruits 에서 5글자 넘는 과일만 추출
fruits = ['orange', 'apple', 'mongo', 'kiwi']

fruits_change = [data for data in fruits if len(data) > 5]
print(fruits_change)

['orange']

In [292]:
# ex3. 3이상의 요소들의 제곱을 추출
l = [1, 2, 3, 4, 5]

l_change = [data**2 for data in l if data >= 3]
print(l_change)

[9, 16, 25]

## 1.6 요소 수정하기

In [314]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 인덱스를 이용해서 요소 수정
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [327]:
# 슬라이싱을 이용해서 요소 수정 (step부분이 미포함 : 부분 리스트가 통쨰로 수정)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1:4] = ['x', 'y', 'z', 'ㅋ', 'ㅎ']
# numbers[1:4] = ['x']
numbers

[0, 'x', 'y', 'z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [333]:
# 슬라이싱을 이용해서 요소 수정 (step부분 포함 : 요소 갯수가 맞아야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# numbers[::2] = [99,99,99,99,99]
# 또는
numbers[::2] = ['xx']*5
numbers

['xx', 1, 'xx', 3, 'xx', 5, 'xx', 7, 'xx', 9]

## 1.7 요소 삭제

- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx 번째 요소가 반환되고 삭제
- remove(지울data) : 리스트안의 data가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [353]:
# pop()
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()

print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

# pop(idx)
delete_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data2, numbers))

# del 변수[idx]
del numbers[2]
print("numbers :", numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [358]:
# remove(지울데이터)
numbers = [1, 2, 3, 4, 5]

# remove()는 반환값이 없고, 해당 데이터만 삭제 데이터가 없으면 오류
del_num = numbers.remove(3) 
print(numbers)

[1, 2, 4, 5]

In [370]:
# 해당 데이터만 삭제 데이터가 없으면 오류
numbers = [1, 2, 3, 4, 5]

numbers.remove(9)

ValueError: list.remove(x): x not in list

In [371]:
numbers = [1, 2, 3, 4, 5]

if 9 in numbers:
    numbers.remove(9)
else:
    print("해당 데이터가 없습니다.")

해당 데이터가 없습니다.

In [377]:
numbers = [1, 2, 3, 4, 5]

def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, "는 삭제완료", numbers)
    else:
        print(f"{remove_data}는 없는 아이템입니다.")
        
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다.
5 는 삭제완료 [1, 2, 3, 4]

## 1.8 정렬하기

In [54]:
numbers = [1, 9, 5, 0, 8] # reverse=True : 내림차순
print('numbers는 변경하지 않고 정렬', sorted(numbers, reverse=True))
print('numbers', numbers)

numbers는 변경하지 않고 정렬 [9, 8, 5, 1, 0]
numbers [1, 9, 5, 0, 8]

In [58]:
numbers.sort(reverse=True) # numbers 자체가 정렬한 결과로 바뀜(기본정렬:오름차순)
print(numbers)

[9, 8, 5, 1, 0]

In [67]:
numbers.reverse() # numbers 자체가 역순으로 변경
print(numbers)

[9, 8, 5, 1, 0]

In [65]:
lst = [2, 5, 9]
# lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [72]:
# 스칼라 데이터의 복제하기
i = 10     # 원본
copy_i = i # 복제본
print(f"원본데이터 {i}, 복사본데이터 {copy_i} / 원본주소는 {id(i)}, 복사본주소는 {id(copy_i)}")
copy_i = 99
print(f"원본데이터 {i}, 복사본데이터 {copy_i} / 원본주소는 {id(i)}, 복사본주소는 {id(copy_i)}")

원본데이터 10, 복사본데이터 10 / 원본주소는 2255875473936, 복사본주소는 2255875473936
원본데이터 10, 복사본데이터 99 / 원본주소는 2255875473936, 복사본주소는 2255875476784

In [77]:
# 리스트(배열, 데이터프레임, 딕셔너리)의 복제 (절대 안 됨)
numbers = [5, 8, 1]    # 원본
new_numbers = numbers  # 복제본
new_numbers[0] = 9
print("원본 : ", numbers, id(numbers))
print("복제본 : ", new_numbers, id(new_numbers))

원본 :  [9, 8, 1] 2255998636480
복제본 :  [9, 8, 1] 2255998636480

### ※ 얕은복사 : 리스트(배열, 데이터프레임, 딕셔너리)

In [81]:
# 얕은 복사(할당)
numbers = [5, 8, 1]   # 원본
new_numbers = numbers # 얕은 복사 (할당)
print(f"원본데이터 {numbers}, 복사본데이터 {new_numbers} / 원본주소는 {id(numbers)}, 복사본주소는 {id(new_numbers)}")

new_numbers[0] = -99
new_numbers.sort()
print("복제본만 지지고 볶고")
print(f"원본데이터 {numbers}, 복사본데이터 {new_numbers} / 원본주소는 {id(numbers)}, 복사본주소는 {id(new_numbers)}")

원본데이터 [5, 8, 1], 복사본데이터 [5, 8, 1] / 원본주소는 2255998075328, 복사본주소는 2255998075328
복제본만 지지고 볶고
원본데이터 [-99, 1, 8], 복사본데이터 [-99, 1, 8] / 원본주소는 2255998075328, 복사본주소는 2255998075328

### ※ 깊은복사 : 리스트(배열, 데이터프레임, 딕셔너리)

In [85]:
# 깊은 복사(복제)
numbers = [5, 8, 1]   # 원본
new_numbers = numbers.copy() # 깊은 복사 (복제)

print(f"원본데이터 {numbers}, 복사본데이터 {new_numbers} / 원본주소는 {id(numbers)}, 복사본주소는 {id(new_numbers)}")

new_numbers[0] = -99
new_numbers.sort()
# new_numbers.pop()
new_numbers.remove(-99)

print("복제본만 지지고 볶고")
print(f"원본데이터 {numbers}, 복사본데이터 {new_numbers} / 원본주소는 {id(numbers)}, 복사본주소는 {id(new_numbers)}")

원본데이터 [5, 8, 1], 복사본데이터 [5, 8, 1] / 원본주소는 2255999362560, 복사본주소는 2255998977280
복제본만 지지고 볶고
원본데이터 [5, 8, 1], 복사본데이터 [1, 8] / 원본주소는 2255999362560, 복사본주소는 2255998977280

In [87]:
numbers.clear() # 리스트의 요소를 모두 삭제
numbers

[]

# 2절 튜플

- 리스트와 유사하지만, 읽기전용, 수정이 필요없는 데이터에서 사용
- 수정불가하므로, 튜플에 데이터 수정, 추가, 삭제 불가 (제공되는 함수도 많지 않음)
- (), tuple() 이용해서 생성

In [92]:
# city = ('서울', '부산', '인천', '목포')
# 파이썬은 여러개의 값이 전달될 떄, 튜플 타입으로 전달
city = '서울', '부산', '인천', '목포'
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [119]:
# city = ['서울', '부산', '인천', '목포']
city = ('서울', '부산', '인천', '목포')
" , ".join(city)
# type(city)

tuple

In [105]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l), l)

<class 'list'> ['서울', 3]

In [107]:
# t = ('서울') # 요소가 하나 있는 튜플
t = ('서울',) # 요소가 하나 있는 튜플 (, 반드시 기입)
print(type(t), t)

<class 'tuple'> ('서울',)

In [130]:
numbers = (1, 2, 3)
min(numbers), max(numbers), sum(numbers), sorted(numbers, reverse=True)

(1, 3, 6, [3, 2, 1])

In [124]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [134]:
numbers.index(2)

if 9 in numbers:
    numbers.index(9)
else:
    print('9 요소가 없어요')

9 요소가 없어요

In [155]:
# def safe_index(lst, item):
#     '''
#     lst안에 item 요소가 있으면, item요소의 index를 반환, 없으면 -1반환
#     lst : 나열가능한 데이터
#     item : 찾을 데이터
#     '''
# #     if item in lst:
# #         return lst.index(item)
# #     else:
# #         return -1
#     return lst.index(item) if item in lst else -1

In [9]:
from safe import safe_index

numbers = (0, 1, 2, (1, 2), 0, 1, 2)

safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [12]:
numbers * 3 # 반복

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [28]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1, 2, 3, 4, 5, 6)

[num ** 2 for num in numbers if not num % 2]
# 리스트 데이터를 튜플로 
tuple([num ** 2 for num in numbers if not num % 2])

(4, 16, 36)

# 3절 딕셔너리

- 중괄호 {} 를 이용해서, 키(key) : 값(value) 쌍으로 구성된 자료구조
- 키는 중복불가 (유일한 값만 가능), 키에 list는 사용불가.
- 값은 중복가능 
- 인덱스를 이용한 참조 지원 안 함

In [37]:
dic = {"name": "홍길동", 1: 22, (1,2): [1,2]}
print(type(dic))
print(dic)
print("데이터 갯수 :", len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 갯수 : 3

In [32]:
# s = {'name', '홍길동', 1}
# print(type(s))
# print(s)

<class 'set'>
{'name', '홍길동', 1}

In [42]:
my_favorite = {'fruit': 'apple', 'number': 12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [49]:
print(my_favorite['fruit'])
print(my_favorite.get('fruit')) # ★

apple
apple

### ※ get()

In [51]:
praint(my_favorite['people']) # 없는 키값을 인덱스 방식으로 참조시 에러

KeyError: 'people'

In [55]:
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 None
print(my_favorite.get('people','-')) # 없는 키를 get함수로 참조시 '-'

None
-

In [72]:
# 딕셔너리 수정
my_favorite = {'fruit': 'apple', 'number': 12, 'sport':'golf'}
my_favorite['fruit'] = 'mango' # fruit 데이터 수정
print('fruit 수정 후 :',my_favorite)

my_favorite['people'] = '홍길동' # 데이터 추가
print('my_favorite 추가 후 :',my_favorite)

del my_favorite['fruit'] # 데이터 제거
print('fruit 제거 후 :',my_favorite)

remove_date = my_favorite.pop('number') # number키의 값을 반환하고 제거
print("remove_date", remove_date)
print("number 제거 후 딕셔너리 :", my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
my_favorite 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit 제거 후 : {'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove_date 12
number 제거 후 딕셔너리 : {'sport': 'golf', 'people': '홍길동'}

In [73]:
# for문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999')

In [83]:
# 중요
for data in my_tup:
    print(data, end='\t')
print()    


for idx in range(len(my_tup)):
    print(f"{idx}번째 {my_tup[idx]}", end='\t')
print()    

# 중요
for idx, value in enumerate(my_tup):
    print(f"{idx}번째 {value}", end='\t')

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999

In [129]:
my_dic = {'name': '홍길동', 'age': 30, 'tel': '010-9999-9999'}

In [103]:
for data in my_dic: # my_dic.keys()
     print(data, end='\t')

name	age	tel

In [91]:
# 엄청 비추
for key in my_dic:
     print(my_dic[key], end='\t')

홍길동	30	010-9999-9999

In [92]:
for data in my_dic.values():
    print(data, end='\t')

홍길동	30	010-9999-9999

In [96]:
my_dic.values() # 값만 추출

dict_values(['홍길동', 30, '010-9999-9999'])

In [97]:
my_dic.keys() # 키만 추출

dict_keys(['name', 'age', 'tel'])

In [98]:
my_dic.items() # (키-값)쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [108]:
for key, value in my_dic.items():
    print(f"{key}: {value}", end='\t')

name: 홍길동,	age: 30,	tel: 010-9999-9999,

In [112]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [123]:
for idx, (key,value) in enumerate(my_dic.items()):
    print("{}. {:4s} : {}".format(idx+1, key, value))

1. name : 홍길동
2. age  : 30
3. tel  : 010-9999-9999

In [127]:
"홍길동" in my_dic

False

In [135]:
"홍길동" in my_dic.values()

True

In [136]:
# 얕은 복사
my_favorite = {"fruit": "apple", "number": 12}
new_favorite = my_favorite # 복사본(얕은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [139]:
# 깊은 복사
my_favorite = {"fruit": "apple", "number": 12}
new_favorite = my_favorite.copy() # 복사본 (깊은 복사)
new_favorite['people'] = '홍길동'
new_favorite['fruit'] = 'mongo'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'mongo', 'number': 12, 'people': '홍길동'}

# 4절 셋

- 중복을 허용하지 않는 집합(순서없음 == 인덱스없음)
- 중괄호( {} )나 set() 함수를 이용해서 셋 생성
- 추가 : add(), update() 
- 집합연산자 : &, |, -
- 삭제 : remove()

In [147]:
fruits = {'banana', 'orange', 'banana', 'banana', 'banana', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [149]:
s1 = set([1, 20, 1, 21, 1, 22])
s1

{1, 20, 21, 22}

In [150]:
# set 함수를 이용해서, 딕셔너리를 셋으로 전환할 떄는 key만 적용
my_favorite = {"fruit": "apple", "number": 12}
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add() : 기본자료형, 튜플데이를 하나를 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나하나씩 추가할 경우. dict 사용시 key만 추가

In [159]:
s2 = {1, 1, 2, 3}
s2.add(4)
# s2.add([5,6,7]) # unhashable type: 'list'
s2.update([5 ,6, 7])
s2.update({8 ,9, 10})
s2.update({"ele":11 ,"twl": 12, "thirg": 13})
s2

{1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'ele', 'thirg', 'twl'}

In [172]:
# 논리값 False는 False, 0 으로
# 논리값 True는 True, 1로
s = {1, 2, 3}
s.add(False)
s.add(True)
s.add(0)
s

{False, 1, 2, 3}

In [173]:
s.remove(True)
s

{False, 2, 3}

## 연산 : &(교집합), |(합집합), -(차집합)

& , | : 집합연산자, 논리연산자, 비트연산자

In [176]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print('s1 | s2 =', s1 | s2)
print('s1 & s2 =', s1 & s2)
print('s1 - s2 =', s1 - s2)

s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 - s2 = {1, 2}

# 5절 enumerate

- 반복자 또는 순서 객체로 반복문을 처리할 떄 사용함수
- 리스트, 튜플, 딕셔너리, 셋 for문에 사용시
-

In [178]:
names = {'길자', '길동', '영자'}
for name in names:
    print(name, end="\t")

길동	길자	영자

In [187]:
for no, name in enumerate(names):
    print(f"{no}. {name}")

0. 길동
1. 길자
2. 영자

In [221]:
names = ['순자','길동','길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울', '인천', '판교']

for name in names:
    print(name)
    
for idx in range(len(names)):
    print("{}. {}의 연락처는 {}고, {}에 살아요".format(idx+1, 
                                                     names[idx], 
                                                     tels[idx], 
                                                     adds[idx]))    
# for no, name in enumerate(names):
#     print(f"{names[no]} : {tel[no]} {adds[no]}")

순자
길동
길자
1. 순자의 연락처는 010-9999-9999고, 서울에 살아요
2. 길동의 연락처는 010-8888-8888고, 인천에 살아요
3. 길자의 연락처는 010-7777-7777고, 판교에 살아요

# ※ 중요 zip()

In [243]:
list(zip(names, tels, adds))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [240]:
for name, tel, add in zip(names, tels, adds):
    print(f"{idx}. {name} : {tel} - {add}")

2. 순자 : 010-9999-9999 - 서울
2. 길동 : 010-8888-8888 - 인천
2. 길자 : 010-7777-7777 - 판교

In [242]:
list(enumerate(zip(names, tels, adds)))

[(0, ('순자', '010-9999-9999', '서울')),
 (1, ('길동', '010-8888-8888', '인천')),
 (2, ('길자', '010-7777-7777', '판교'))]

In [246]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}. {} : {} - {}".format(idx, name, tel, add))

0. 순자 : 010-9999-9999 - 서울
1. 길동 : 010-8888-8888 - 인천
2. 길자 : 010-7777-7777 - 판교

# ※ 변수가 담을 수 있는 기본 타입들

<a href="https://pynative.com/python-data-types/" target="_blank">https://pynative.com/python-data-types/</a>
<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg" style="width:500px;float:left;">
```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```

# 연습문제

In [6]:
# 실슬형
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [252]:
# 1. 숫자 100 을 맨 뒤에 추가하세요
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [4]:
#2 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
# numbers.extend(data)
# numbers = numbers + data
numbers += data
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200, 300, 400, 500, 200, 300, 400, 500]

In [259]:
#3. 처음 다섯 개 숫자만 출력하세요
print(numbers[0:5])

[1, 2, 3, 4, 5]

In [8]:
#4. 리스트에서 짝수 번째 데이터만 출력하세요
numbers

# [item for item in numbers if not item % 2]
numbers[::2]

[1, 3, 5, 7, 9]

In [23]:
#5. 짝수번째 데이터를 모두 0 으로 바꾸세요
numbers = [1,2,3,4,5,6,7,8,9,10]
# print(numbers)
# print(numbers[::2])
# print(len(numbers[::2]))
# print([0] * len(numbers[::2]))
numbers[::2] = [0] * len(numbers[::2]) # 0을 반복
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [26]:
numbers = [1,2,3,4,5,6,7,8,9,10]
# 또 다른 방법
print([numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))])

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]

In [16]:
#6.데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# numbers.sort(reverse=True)
numbers[::-1]
# sorted(numbers,reverse=True)
# numbers.sort()

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
member_info ={"name":"홍길동", "age":20, "address":"서울시 마포구","score":90}
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구', 'score': 90}

In [30]:
# 7. address 값을 출력하세요
print(member_info['address'])
print(member_info.get('address')) # 강추

서울시 마포구
서울시 마포구

In [ ]:
# 8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요

In [274]:
print(member_info.pop('score'))
member_info

90

{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [275]:
#9 address 를 서울시 서대문구 로 변경하세요
member_info['address'] = '서울시 서대문구'
member_info

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

In [279]:
#10 member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
print([data for data in member_info.values()])

['홍길동', 20, '서울시 서대문구']

In [280]:
# 서술형
# 1. 다음 코드를 실행했을떄 출력되는 것은
L1 = ("orange","apple","banana","kiwi")
new_list = [i for i in L1 if len(i) > 5]
print(new_list)

['orange', 'banana']

In [283]:
#2. 다음 코드와 실행결과가 잘못 짝지어진 것은
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0, 1)))
print(list(range(10,20,2)))

# 정단 : ③

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[]
[10, 12, 14, 16, 18]

In [285]:
#3. 다음 구문에 의해 출력되는 것은
numbers_2d = [ [1,2,3,4,5], [10,20,30,40],[1,3,5],[2,] ]
len(numbers_2d[3])

1

In [298]:
#4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은
# numbers = [1,2,3,4,5]
# numbers.__________([10,20,30,40,50])
# numbers
# 결과 : [1,2,3,4,5,10,20,30,40,50]
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
numbers

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]

In [299]:
# 5. 다음 구문을 실행할 때 결과는
numbers = list(range(10))
numbers
numbers[::2] = [0]*len(numbers[::2]) # 0을 짝수 갯수 만큼 반복
print(numbers)

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [302]:
#6. 다음 구문을 실행할 때 결과는
numbers = [0,1,2,3,4,5,6,7,8,9]
print(numbers)
numbers[::2]= numbers[5:] # 짝수번쨰에 5이상 값이 들어갑
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 1, 6, 3, 7, 5, 8, 7, 9, 9]

In [382]:
#7.다음 구문을 실행할 때 결과는
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(numbers)
# print(numbers[::2])
# print(numbers[:5])
numbers[::2]= numbers[:5] # 짝수번쨰에 0 ~ 4 숫자가 들어감
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

In [373]:
#8.다음 데이터에서 10 을 출력할 수 없는 구문은
my_dic = {"a":10, "b":20, "c":30}
my_dic
          
my_dic[0]
# my_dic['a']
# list(my_dic.items())[0][1]
# list(my_dic.values())[0]
# my_dic.get('a')

# 정답 : ①

KeyError: 0

In [317]:
# 9.다음 프로그램의 결과를 출력하시오
fruits = ["apple", "banana", "orange"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
orange

In [318]:
# 10.다음 프로그램의 결과를 출력하시오
fruits = ["apple", "banana", "orange"]
print(len(fruits))

3

In [33]:
#11. 파이썬에서 함수를 만들기 위해 선언하는 단어는

# 정답 : def