In [159]:
from IPython.display import display, HTML
display(HTML("""
<style>
* {font-family:'Fira Code';line-height:180%}
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input { font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="5" color="red">ch05 함수 </font></b>

- 사용할 코드를 묶어 놓고, 그것에 이름을 붙인 것
- 오버로딩(함수이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
```
def 함수명 ( [매개변수1, .. , 매개변수n] ) : 
    명령어1
    명령어2
    명령어n
```

# 1절 함수의 정의 및 사용

## 1.1 함수 정의

In [7]:
def add(a, b):
    print(1)
def add(a):
    print(2)
# add("A","b") 오버로딩 불가 def **add(a, b):** 삭제

# a = 10
# a = 20 # a = 10 값이 없어지는 것과 같음

In [13]:
# 함수 정의
def hello() :
    for i in range(5):
        print("Hello")

def my_message(x, msg) : # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [14]:
# 함수 사용
hello()
my_message(5, 'My Hello')

Hello
Hello
Hello
Hello
Hello
My Hello
My Hello
My Hello
My Hello
My Hello

In [15]:
# 함수이름의 재정의
my_msg = my_message
my_msg(4, 'my hello')

my hello
my hello
my hello
my hello

In [16]:
type(my_msg), type(my_message)

(function, function)

In [11]:
print("Hello") # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print("hello")
del print
print("hello2")

Hello
hello2

In [17]:
my_message(2, 'Hello')

Hello
Hello

In [24]:
my_message = 5

In [23]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [27]:
del my_message 
# 변수를 삭제해도 함수 사용불가 (파이썬 내장함수가 아니라서...)

NameError: name 'my_message' is not defined

In [26]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [3]:
# 함수 정의 : 4월 16일(수)
def my_hello():
    print('Hello Python')
    print('Hello World')

def my_hello(cnt):
    for i in range(cnt):
        print('Hello Python')
        print('Hello World')

In [21]:
# 함수사용 = 함수호출
# my_hello()
my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

In [22]:
my_hello

In [23]:
__name__

'__main__'

In [34]:
if  __name__ == "__main__":
    my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

In [8]:
import ch05 # ch05모듈을 Load

In [9]:
ch05.my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

In [11]:
from ch05 import my_hello # ch05모듈안의 my_hello 만 Load

In [12]:
my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

## 1.2 docstring

In [ ]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift + tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [ ]:
my_function()

In [16]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift + tab으로 독스트링을 볼 수 있음)

In [20]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행

In [23]:
fibonacci(10)

0 1 1 2 3 5 8

In [26]:
# 함수안에 있는 변수는 실행이 끝나면 없어짐
a, b

NameError: name 'a' is not defined

## 1.3 지역변수 (local var) 와 전역변수 (global var)

In [29]:
global_var = 100 # 전역변수

def func1() :
    print("함수 안 :", global_var)

func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [31]:
def func2() :
    local_var = 200 # 지역변수
    print("함수 안 :", local_var)

func2()  

print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [11]:
g_var = 100 # 전역변수

def func3() :
    g_var = 200 # 지역변수 (변수 선언과 할당)
    print("함수 안 (지역변수 g_var):", g_var)

func3()
print('함수 밖 :', g_var)

함수 안 (지역변수 g_var): 200
함수 밖 : 100

In [12]:
# 렉시컬 특성
g_ver = 100 # 전역변수

def func4() :
    print("함수 안 g_var :", g_var)
    g_var = 200 # 지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [13]:
# 렉시컬 특성
g_ver = 100 # 전역변수

def func4() :
    global g_var # func4 함수내의 g_var는 전역변수를 쓴다.
    print("함수 안 g_var :", g_var)
    g_var = 200 # 지역변수
func4()
print("함수 밖 g_var :", g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

In [ ]:
### 변수의 우선 순위
### 3.내장된이름테이블 < 2.전역심볼테이블 < 1.로컬심볼테이블

## 1.4 값에 의한 호출

- 함수의 매개변수(인수, 인자)로 전달되는 변수가 스칼라(문자, 숫자, 논리형) 변수일 떄

In [39]:
foo = 10 # 전역변수
id(foo)

2163912278544

In [47]:
def func1(f) : # 매개변수 f는 지역변수
    print("Before :", f ,' id(f) :',id(f))
    f = f * 3
    print("After :", f ,' id(f) :',id(f), end = ' ')

func1(foo)

Before : 10  id(f) : 2163912278544
After : 30  id(f) : 2163912279184

In [49]:
print(foo, 'id(foo) :', id(foo)) # 값만 전달 하므로, foo 값의 변경은 없다.

10 id(foo) : 2163912278544

## 1.5 참조에 의한 호출

- 함수의 매개변수(인수, 인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [25]:
L = [1, 2, 3]
id(L)

2164024452672

In [50]:
def func2(f) : # 매개변수 f는 지역변수
    print("Before :", f, " id(f) :", id(f))
    f.append(4)
    print("After :", f, " id(f) :", id(f), end = ' ')
func2(L)

Before : [1, 2, 3, 4]  id(f) : 2164024452672
After : [1, 2, 3, 4, 4]  id(f) : 2164024452672

In [55]:
print('L = ', L, id(L))

L =  [1, 2, 3, 4, 4] 2164024452672

# 2절 함수의 실행결과를 반환하는 return

In [81]:
def add(x, y) :
    pass
#     return True
#     return x + y

In [84]:
i = 2; j = 3
print(add(i, j))

None

In [112]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면, 0 1 1 2 3 5 8 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면, 0 1 1 2 3 5 8 을 return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a + b
    return result

In [113]:
x = fibonacci_print(100)
print(x, type(x))

0 1 1 2 3 5 8 13 21 34 55 89
None <class 'NoneType'>

In [110]:
x = fibonacci_return(100)
print(x, type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89] <class 'list'>

## 2.1 여러개 값 return

In [114]:
def swap(a , b) :
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [120]:
x, y = 5, 10
print(f"함수 실행 전 x={x},  y ={y}")

x, y = swap(x, y)
print(f"함수 실행 후 x={x},  y ={y}")

함수 실행 전 x=5,  y =10
함수 실행 후 x=10,  y =5

# 3절 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [141]:
def make_url(ip, port=80) :
# def make_url(port=80, ip) : # 순서 인수(ip) > 기본값을 갖는 매개변수(port)
    return "http://{}:{}".format(ip, port)

In [146]:
print(make_url("www.naver.com"))
print(make_url("localhost",8090))
print(make_url(port=8090, ip="localhost"))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수

- 기본변수가 스칼라 변수일 떄
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [153]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 떄 : arg의 기본값은 호출되는 시점의 값
def func2(arg=i) :
    print("arg = ", arg)

In [155]:
i = 50
func2()
func2(i)

arg =  5
arg =  50

In [165]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조) 일 떄 : arg의 기본값은 실행되는 시점
def func3(data, L=list_) :
    'data를 L에 append'
    L.append(data)
    return L

In [166]:
print(func3(10)) # list_가 수정 : [] -> [10,..........]

[10]

In [168]:
print(func3(20))

[10, 20]

In [169]:
list_

[10, 20]

In [170]:
def func4(data, L=None) :
    if L == None:
        L = []
    L.append(data)
    return L

In [171]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수(자) 설정
### ※ *aggs

In [175]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다.
def add(a, b):
    return a+b

def add(a, b, c):
    return a+b+c

In [176]:
add(1, 2, 3, 4)

TypeError: add() takes 3 positional arguments but 4 were given

In [190]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print(args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [193]:
print(add(1))
print(add(1,  2))
print(add(1, 2, 3))
print(add(1, 2, 3 ,4))
print(add(1, 2, 3 ,4, 5, 10))

1
3
6
10
25

In [195]:
subject = ('Python', 'Oracle', 'DL', 'ML')
"/".join(subject)

'Python/Oracle/DL/ML'

In [311]:
def concat(*subject, sep) :
    return sep.join(subject)

In [312]:
concat('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', '/')
# => 'Python' / 'Oracle' / 'Webstandard' / 'Javascript' / 'DL' / 'ML'

TypeError: concat() missing 1 required keyword-only argument: 'sep'

### 에러 해결결1 : 매개변수 이름을 지정해서 호출

In [305]:
concat('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', sep= ' / ')

'Python / Oracle / Webstandard / Javascript / DL / ML'

### 에러 해결책2 : 기본값을 갖는 반드시 갖는 "키워드인수" 사용

In [258]:
def concat(*subject, sep=' ~ ') :
    return sep.join(subject)

In [266]:
concat('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', sep=' / ')

'Python / Oracle / Webstandard / Javascript / DL / ML'

In [267]:
print('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', sep=' / ')

Python / Oracle / Webstandard / Javascript / DL / ML

### 에러 해결책3 : sep을 순서인수로 앞에 선언

In [323]:
def concat(sep, *subject) :
    return sep.join(subject)

In [324]:
concat('/', 'Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML')

'Python/Oracle/Webstandard/Javascript/DL/ML'

## 3.4 딕셔너리 매개변수

- 여러 개의 키워드인수를 딕셔너리 형태로 받아서, 가변키워드 인수 처리

In [407]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print("이름 :", kwargs.get("name","대마왕"))
    print("나이 :", kwargs.get("age",30))
    print("주소 :", kwargs.get("address",'서울'))
    
    for item in kwargs.values():
        print(item)

In [414]:
func5(name="홍길동", age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동
홍길동
30
신림동

In [365]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [415]:
def func6(a, b, *c, **d) :
    print("순서인수 a : ", a)
    print("순서인수 b : ", b)
    print("튜플인수 c : ", c)
    print("딕셔너리 인수 d : ", d)

In [416]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name="홍길동", age=30, address='서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [439]:
def func7(a, b, *c, d='기본값', **e):
    print("순서인수 a : ", a)
    print("순서인수 b : ", b)
    print("튜플인수 c : ", c)
    print("키워드인수(기본값을 갖는 인수, 호출시 매개변수 이름 반드시 명시) d : ", d)
    print("딕셔너리 인수 e : ", e)

In [446]:
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, d='딴거', fontsize=12, fontfamily='cibsika')
print('-------------------------------------------------------------------------------')
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, fontsize=12, fontfamily='cibsika')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수 이름 반드시 명시) d :  딴거
딕셔너리 인수 e :  {'fontsize': 12, 'fontfamily': 'cibsika'}
-------------------------------------------------------------------------------
순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수 이름 반드시 명시) d :  기본값
딕셔너리 인수 e :  {'fontsize': 12, 'fontfamily': 'cibsika'}

## 3.6 인수의 언패킹

### 튜플인수 언패킹
#### ※ *
- 튜플인수 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 튜플인수 패킹 : 함수 정의시 매개변수 앞에 * 붙임 (튜플매개변수)

In [478]:
def add(*args) :
    print(args)
    tot = 0
    
    for num in args:
        tot += num
        
    return tot

In [473]:
print(add(1,2))
print(add(1, 2, 3, 4))
print(add(1, 2, 3, 4, 5))

(1, 2)
3
(1, 2, 3, 4)
10
(1, 2, 3, 4, 5)
15

In [475]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [477]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리 언패킹

#### ※ **
- 딕셔너리 언패킹 : 함수 호출시 매개변수앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임 (딕셔너리 매개변수)

In [482]:
def func5(**data):
    print(data)
    print(type(data))
    for key, item in data.items():
        print(f"{key} : {item}")

In [486]:
func5(name = "홍길동", age = 30, address ='신림')

{'name': '홍길동', 'age': 30, 'address': '신림'}
<class 'dict'>
name : 홍길동
age : 30
address : 신림

In [485]:
customIno = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 강남구', 'score' : 900}
func5(**customIno)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'score': 900}
<class 'dict'>
name : 홍길동
age : 30
address : 서울시 강남구
score : 900

# 4절 람다식 (lambda)

- return 한 줄짜리 작은 익명 함수

## 4.1 람다식 연습

In [495]:
def add(a, b):
    return a + b
add(3, 4)

7

In [496]:
add2 = lambda a, b : a+b
add2(3, 4)

7

In [498]:
print(f"add :", type(add))
print(f"add2 :", type(add2))

add : <class 'function'>
add2 : <class 'function'>

In [506]:
(lambda a, b : a+b) (3, 4)

7

In [519]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num % 2:
#         result = "홀수"
#     else:
#         result = "짝수"        
    return "홀수" if num % 2 else "짝수"
print("func : ", ex1(2))

lambda_ex1 = lambda num : "홀수" if num % 2 else "짝수"
print("lambda : ", lambda_ex1(1))

func :  짝수
lambda :  홀수

In [556]:
# ex2. 두 매개변수의 차이를 return
lambda_ex2 = lambda num1, num2 : num1-num2 if num1 > num2 else num2-num1
print(lambda_ex2(10,5))
print(lambda_ex2(5,10))

# 문제풀이
def diff(a, b):
#     if a >b :
#         result = a - b
#     else :
#         result = b - a
    result =a-b if a > b else b - a
    return result

print("func :", diff(2, 1), diff(10,20))

exam2 = lambda a, b : a - b if a > b else b - a
print("lambda :", exam2(2,1), exam2(10,20))

5
5
func : 1 10
lambda : 1 10

In [558]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 "negative" 를 return
#문제풀이
ex3 = lambda money : money if money >=0 else "negative"

print(ex3(1000))
print(ex3(-100))

1000
negative

In [564]:
# ex4. 정수를 입력받아 점수가 80점 이상은 "A"팀, 60점 이상은 "B"팀, 60점 미만은 "재시험" 그외는 유효하지 않음

# score = int(input("점수를 입력해 주세요 : "))
 
# lambda_ex4 = lambda score : "A팀" if 80<= score <=100 else "B팀" elif 80< score <=60  else "유효하지 않음"
# print(lambda_ex4(score))

# 문제풀이
ex4 = lambda score : "A팀" if 80<= score <=100  else \
                            "B팀" if 60<= score <80 else \
                            "재시험"  if 0<= score <60 else \
                            "유효하지 않음"

print(ex4(120))
print(ex4(90))
print(ex4(70))
print(ex4(50))

유효하지 않음
A팀
B팀
재시험

In [565]:
# ex5. safe_index 
def safe_index(vector, data) :
    if data in vector:
        return vector.index(data)
    else :
        retutn -1

lambda_ex5 = lambda lst, data : lst.index(data) if data in lst else -1

print("func :",safe_index([1,2,3,4,5], 5 ))
print("lambda :", lambda_ex5([1,2,3,4,5], 5 ))

# 문제풀이
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)

ex5(tup, 4), ex5(tup, 2)

func : 4
lambda : 4

(-1, 1)