In [2]:
from IPython.display import display, HTML

display(
    HTML("""
<style>
* {font-family:Consolas;}
div.container{width:87% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input { font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:3px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="5" color="red">ch05 함수 </font></b>

- 사용할 코드를 묶어 놓고, 그것에 이름을 붙인 것
- 오버로딩(함수이름이 같고, 매개변수의 타입이나 갯수로 다른 함수를 허용하는 것) 불가
```
def 함수명 ( [매개변수1, .. , 매개변수n] ) : 
    명령어1
    명령어2
    명령어n
```

# 1절 함수의 정의 및 사용

## 1.1 함수 정의

In [7]:
def add(a, b):
    print(1)


def add(a):
    print(2)


# add("A","b") 오버로딩 불가 def **add(a, b):** 삭제

# a = 10
# a = 20 # a = 10 값이 없어지는 것과 같음

In [13]:
# 함수 정의
def hello():
    for i in range(5):
        print("Hello")


def my_message(x, msg):  # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [14]:
# 함수 사용
hello()
my_message(5, 'My Hello')

Hello
Hello
Hello
Hello
Hello
My Hello
My Hello
My Hello
My Hello
My Hello

In [15]:
# 함수이름의 재정의
my_msg = my_message
my_msg(4, 'my hello')

my hello
my hello
my hello
my hello

In [16]:
type(my_msg), type(my_message)

(function, function)

In [11]:
print("Hello")  # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print("hello")
del print
print("hello2")

Hello
hello2

In [17]:
my_message(2, 'Hello')

Hello
Hello

In [24]:
my_message = 5

In [23]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [27]:
del my_message 
# 변수를 삭제해도 함수 사용불가 (파이썬 내장함수가 아니라서...)

NameError: name 'my_message' is not defined

In [26]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [3]:
# 함수 정의 : 4월 16일(수)
def my_hello():
    print('Hello Python')
    print('Hello World')

def my_hello(cnt):
    for i in range(cnt):
        print('Hello Python')
        print('Hello World')

In [21]:
# 함수사용 = 함수호출
# my_hello()
my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

In [22]:
my_hello

In [23]:
__name__

'__main__'

In [34]:
if  __name__ == "__main__":
    my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

In [8]:
import ch05 # ch05모듈을 Load

In [9]:
ch05.my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

In [11]:
from ch05 import my_hello # ch05모듈안의 my_hello 만 Load

In [12]:
my_hello(2)

Hello Python
Hello World
Hello Python
Hello World

## 1.2 docstring

In [ ]:
def my_function():
    '''
    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift + tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [ ]:
my_function()

In [16]:
print(my_function.__doc__)

    함수의 첫라인에 독스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능 (shift + tab으로 독스트링을 볼 수 있음)

In [20]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행

In [23]:
fibonacci(10)

0 1 1 2 3 5 8

In [26]:
# 함수안에 있는 변수는 실행이 끝나면 없어짐
a, b

NameError: name 'a' is not defined

## 1.3 지역변수 (local var) 와 전역변수 (global var)

In [29]:
global_var = 100 # 전역변수

def func1() :
    print("함수 안 :", global_var)

func1()
print('함수 밖 :', global_var)

함수 안 : 100
함수 밖 : 100

In [31]:
def func2() :
    local_var = 200 # 지역변수
    print("함수 안 :", local_var)

func2()  

print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [11]:
g_var = 100 # 전역변수

def func3() :
    g_var = 200 # 지역변수 (변수 선언과 할당)
    print("함수 안 (지역변수 g_var):", g_var)

func3()
print('함수 밖 :', g_var)

함수 안 (지역변수 g_var): 200
함수 밖 : 100

In [12]:
# 렉시컬 특성
g_ver = 100 # 전역변수

def func4() :
    print("함수 안 g_var :", g_var)
    g_var = 200 # 지역변수
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [13]:
# 렉시컬 특성
g_ver = 100 # 전역변수

def func4() :
    global g_var # func4 함수내의 g_var는 전역변수를 쓴다.
    print("함수 안 g_var :", g_var)
    g_var = 200 # 지역변수
func4()
print("함수 밖 g_var :", g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

In [ ]:
### 변수의 우선 순위
### 3.내장된이름테이블 < 2.전역심볼테이블 < 1.로컬심볼테이블

## 1.4 값에 의한 호출

- 함수의 매개변수(인수, 인자)로 전달되는 변수가 스칼라(문자, 숫자, 논리형) 변수일 떄

In [39]:
foo = 10 # 전역변수
id(foo)

2163912278544

In [47]:
def func1(f) : # 매개변수 f는 지역변수
    print("Before :", f ,' id(f) :',id(f))
    f = f * 3
    print("After :", f ,' id(f) :',id(f), end = ' ')

func1(foo)

Before : 10  id(f) : 2163912278544
After : 30  id(f) : 2163912279184

In [49]:
print(foo, 'id(foo) :', id(foo)) # 값만 전달 하므로, foo 값의 변경은 없다.

10 id(foo) : 2163912278544

## 1.5 참조에 의한 호출

- 함수의 매개변수(인수, 인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리, 객체일 경우

In [25]:
L = [1, 2, 3]
id(L)

2164024452672

In [50]:
def func2(f) : # 매개변수 f는 지역변수
    print("Before :", f, " id(f) :", id(f))
    f.append(4)
    print("After :", f, " id(f) :", id(f), end = ' ')
func2(L)

Before : [1, 2, 3, 4]  id(f) : 2164024452672
After : [1, 2, 3, 4, 4]  id(f) : 2164024452672

In [55]:
print('L = ', L, id(L))

L =  [1, 2, 3, 4, 4] 2164024452672

# 2절 함수의 실행결과를 반환하는 return

In [81]:
def add(x, y) :
    pass
#     return True
#     return x + y

In [84]:
i = 2; j = 3
print(add(i, j))

None

In [112]:
def fibonacci_print(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면, 0 1 1 2 3 5 8 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행
    
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면, 0 1 1 2 3 5 8 을 return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a + b
    return result

In [113]:
x = fibonacci_print(100)
print(x, type(x))

0 1 1 2 3 5 8 13 21 34 55 89
None <class 'NoneType'>

In [110]:
x = fibonacci_return(100)
print(x, type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89] <class 'list'>

## 2.1 여러개 값 return

In [114]:
def swap(a , b) :
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [120]:
x, y = 5, 10
print(f"함수 실행 전 x={x},  y ={y}")

x, y = swap(x, y)
print(f"함수 실행 후 x={x},  y ={y}")

함수 실행 전 x=5,  y =10
함수 실행 후 x=10,  y =5

# 3절 함수의 매개변수 ★

## 3.1 기본값을 갖는 매개변수

In [141]:
def make_url(ip, port=80) :
# def make_url(port=80, ip) : # 순서 인수(ip) > 기본값을 갖는 매개변수(port)
    return "http://{}:{}".format(ip, port)

In [146]:
print(make_url("www.naver.com"))
print(make_url("localhost",8090))
print(make_url(port=8090, ip="localhost"))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본변수를 갖는 매개변수

- 기본변수가 스칼라 변수일 떄
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [153]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 떄 : arg의 기본값은 호출되는 시점의 값
def func2(arg=i) :
    print("arg = ", arg)

In [155]:
i = 50
func2()
func2(i)

arg =  5
arg =  50

In [165]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조) 일 떄 : arg의 기본값은 실행되는 시점
def func3(data, L=list_) :
    'data를 L에 append'
    L.append(data)
    return L

In [166]:
print(func3(10)) # list_가 수정 : [] -> [10,..........]

[10]

In [168]:
print(func3(20))

[10, 20]

In [169]:
list_

[10, 20]

In [170]:
def func4(data, L=None) :
    if L == None:
        L = []
    L.append(data)
    return L

In [171]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수(자) 설정
### ※ *aggs

In [175]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않습니다.
def add(a, b):
    return a+b

def add(a, b, c):
    return a+b+c

In [176]:
add(1, 2, 3, 4)

TypeError: add() takes 3 positional arguments but 4 were given

In [190]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print(args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [193]:
print(add(1))
print(add(1,  2))
print(add(1, 2, 3))
print(add(1, 2, 3 ,4))
print(add(1, 2, 3 ,4, 5, 10))

1
3
6
10
25

In [195]:
subject = ('Python', 'Oracle', 'DL', 'ML')
"/".join(subject)

'Python/Oracle/DL/ML'

In [311]:
def concat(*subject, sep) :
    return sep.join(subject)

In [312]:
concat('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', '/')
# => 'Python' / 'Oracle' / 'Webstandard' / 'Javascript' / 'DL' / 'ML'

TypeError: concat() missing 1 required keyword-only argument: 'sep'

### 에러 해결결1 : 매개변수 이름을 지정해서 호출

In [305]:
concat('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', sep= ' / ')

'Python / Oracle / Webstandard / Javascript / DL / ML'

### 에러 해결책2 : 기본값을 갖는 반드시 갖는 "키워드인수" 사용

In [258]:
def concat(*subject, sep=' ~ ') :
    return sep.join(subject)

In [266]:
concat('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', sep=' / ')

'Python / Oracle / Webstandard / Javascript / DL / ML'

In [267]:
print('Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML', sep=' / ')

Python / Oracle / Webstandard / Javascript / DL / ML

### 에러 해결책3 : sep을 순서인수로 앞에 선언

In [323]:
def concat(sep, *subject) :
    return sep.join(subject)

In [324]:
concat('/', 'Python', 'Oracle', 'Webstandard', 'Javascript', 'DL', 'ML')

'Python/Oracle/Webstandard/Javascript/DL/ML'

## 3.4 딕셔너리 매개변수

- 여러 개의 키워드인수를 딕셔너리 형태로 받아서, 가변키워드 인수 처리

In [407]:
def func5(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print("이름 :", kwargs.get("name","대마왕"))
    print("나이 :", kwargs.get("age",30))
    print("주소 :", kwargs.get("address",'서울'))
    
    for item in kwargs.values():
        print(item)

In [414]:
func5(name="홍길동", age=30, address='신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 : 홍길동
나이 : 30
주소 : 신림동
홍길동
30
신림동

In [365]:
func5(name='김길동')

{'name': '김길동'}
<class 'dict'>
이름 : 김길동
나이 : 30
주소 : 서울

## 3.5 함수정의시 매개변수 순서
- 순서인수 > 튜플매개변수(*) > 키워드인수(매개변수이름반드시명시) > 딕셔너리매개변수(**)

In [415]:
def func6(a, b, *c, **d) :
    print("순서인수 a : ", a)
    print("순서인수 b : ", b)
    print("튜플인수 c : ", c)
    print("딕셔너리 인수 d : ", d)

In [416]:
func6(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, name="홍길동", age=30, address='서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [439]:
def func7(a, b, *c, d='기본값', **e):
    print("순서인수 a : ", a)
    print("순서인수 b : ", b)
    print("튜플인수 c : ", c)
    print("키워드인수(기본값을 갖는 인수, 호출시 매개변수 이름 반드시 명시) d : ", d)
    print("딕셔너리 인수 e : ", e)

In [446]:
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, d='딴거', fontsize=12, fontfamily='cibsika')
print('-------------------------------------------------------------------------------')
func7(10, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, fontsize=12, fontfamily='cibsika')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수 이름 반드시 명시) d :  딴거
딕셔너리 인수 e :  {'fontsize': 12, 'fontfamily': 'cibsika'}
-------------------------------------------------------------------------------
순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
키워드인수(기본값을 갖는 인수, 호출시 매개변수 이름 반드시 명시) d :  기본값
딕셔너리 인수 e :  {'fontsize': 12, 'fontfamily': 'cibsika'}

## 3.6 인수의 언패킹

### 튜플인수 언패킹
#### ※ *
- 튜플인수 언패킹 : 함수 호출시 매개변수앞에 * 붙임
- 튜플인수 패킹 : 함수 정의시 매개변수 앞에 * 붙임 (튜플매개변수)

In [584]:
def add(*args) :
    print(args)
    tot = 0
    
    for num in args:
        tot += num
        
    return tot

In [473]:
print(add(1,2))
print(add(1, 2, 3, 4))
print(add(1, 2, 3, 4, 5))

(1, 2)
3
(1, 2, 3, 4)
10
(1, 2, 3, 4, 5)
15

In [475]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

In [477]:
numbers = (1, 2, 3, 4)
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리 언패킹

#### ※ **
- 딕셔너리 언패킹 : 함수 호출시 매개변수앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙임 (딕셔너리 매개변수)

In [482]:
def func5(**data):
    print(data)
    print(type(data))
    for key, item in data.items():
        print(f"{key} : {item}")

In [486]:
func5(name = "홍길동", age = 30, address ='신림')

{'name': '홍길동', 'age': 30, 'address': '신림'}
<class 'dict'>
name : 홍길동
age : 30
address : 신림

In [485]:
customIno = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 강남구', 'score' : 900}
func5(**customIno)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'score': 900}
<class 'dict'>
name : 홍길동
age : 30
address : 서울시 강남구
score : 900

# 4절 람다식 (lambda)

- return 한 줄짜리 작은 익명 함수

## 4.1 람다식 연습

In [495]:
def add(a, b):
    return a + b
add(3, 4)

7

In [496]:
add2 = lambda a, b: a + b
add2(3, 4)

7

In [498]:
print(f"add :", type(add))
print(f"add2 :", type(add2))

add : <class 'function'>
add2 : <class 'function'>

In [506]:
(lambda a, b : a+b) (3, 4)

7

In [519]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num):
#     if num % 2:
#         result = "홀수"
#     else:
#         result = "짝수"        
    return "홀수" if num % 2 else "짝수"
print("func : ", ex1(2))

lambda_ex1 = lambda num : "홀수" if num % 2 else "짝수"
print("lambda : ", lambda_ex1(1))

func :  짝수
lambda :  홀수

In [556]:
# ex2. 두 매개변수의 차이를 return
lambda_ex2 = lambda num1, num2 : num1-num2 if num1 > num2 else num2-num1
print(lambda_ex2(10,5))
print(lambda_ex2(5,10))

# 문제풀이
def diff(a, b):
#     if a >b :
#         result = a - b
#     else :
#         result = b - a
    result =a-b if a > b else b - a
    return result

print("func :", diff(2, 1), diff(10,20))

exam2 = lambda a, b : a - b if a > b else b - a
print("lambda :", exam2(2,1), exam2(10,20))

5
5
func : 1 10
lambda : 1 10

In [583]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 "negative" 를 return
#문제풀이
ex3 = lambda money: money if money >= 0 else "negative"

print(ex3(1000))
print(ex3(-100))

1000
negative

In [581]:
# ex4. 정수를 입력받아 점수가 80점 이상은 "A"팀, 60점 이상은 "B"팀, 60점 미만은 "재시험" 그외는 유효하지 않음

# score = int(input("점수를 입력해 주세요 : "))

# lambda_ex4 = lambda score : "A팀" if 80<= score <=100 else "B팀" elif 80< score <=60  else "유효하지 않음"
# print(lambda_ex4(score))

# 문제풀이
ex4 = lambda score : "A팀" if 80<= score <=100  else \
                     "B팀" if 60<= score <80 else \
                     "재시험"  if 0<= score <60 else \
                     "유효하지 않음"

print(ex4(120))
print(ex4(90))
print(ex4(70))
print(ex4(50))

유효하지 않음
A팀
B팀
재시험

In [565]:
# ex5. safe_index
def safe_index(vector, data):
    if data in vector:
        return vector.index(data)
    else:
        retutn - 1


lambda_ex5 = lambda lst, data: lst.index(data) if data in lst else -1

print("func :", safe_index([1, 2, 3, 4, 5], 5))
print("lambda :", lambda_ex5([1, 2, 3, 4, 5], 5))

# 문제풀이
ex5 = lambda vector, data: vector.index(data) if data in vector else -1
tup = (1, 2, 3)

ex5(tup, 4), ex5(tup, 2)

func : 4
lambda : 4

(-1, 1)

### ※ 파이썬 개발 허들

- 5절 함수 (lambda)
- 11절 데이터프레임과 시리즈
- 12절 데이터 시각화

## 4.2 함수의 매개변수에 람다식 이용
```
def map_t ( fun (람다식), data ):
    명령어
```    

### (1)  map

In [591]:
# def map_template(func, L=[1, 2, 3]) :
def map_template(func, L=[]):
    '''
    L의 모든 요소를 func() 함수를 적용시켜 return
    [2, 4, 6]
    [func(l) for l in L]
    '''
    result = []
    for l in L:
        result.append(func(l))
    return result


#     return [func(l) for l in L ]

In [592]:
# 리스트 데이터를 가공 방법 1.map_template

list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 1번 함수 방식 (없어보임)
# def x_2(x):
#     return x * 2

# map_template(x_2, list_data)

# 2번 lambda (최신)
map_template(lambda x: x * 2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [593]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l * 2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [597]:
# 리스트 데이터를 가공 방법 3. map() : 파이썬 내장함수
list(map(lambda x : x * 2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [599]:
for item in map(lambda x : x * 2, list_data):
    print(item, end=" ")

2 4 6 8 10 12 14 16 18 20

#### 연습문제

In [646]:
# 예제 1
# ['5000','800','1000','6000']로 바꾸시요
price = ['5,000', '800', '1000', '6,000']

# [item.replace(",","") for item in price]


# 문제풀이
def func(x):
    return int(x.replace(",", ""))


func("5,000"), func("1800")

list(map(lambda x: int(x.replace(",", "")), price))

[5000, 800, 1000, 6000]

In [829]:
# 예제 2
# member1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1998-12-31'}]
# member2 = [{'name':'홍길동', 'year':'2000', 'month':'01', 'day'='01'},{'name':'신길동', 'year':'1998', 'month':'12', 'day'='31'}]

# 문제풀이

member1 = [{
    'name': '홍길동',
    'birth': '2000-01-01'
}, {
    'name': '신길동',
    'birth': '1998-12-31'
}]


# 일자 나누기
# '2000-01-01' =>{'year':'2000', 'month':'01', 'day'='01'}
def split_date(date):
    split_data = date.split("-")
    print(split_data[0], split_data[1], split_data[2])
    return {
        'year': int(split_data[0]),
        'month': int(split_data[1]),
        "day": int(split_data[2])
    }


# split_date("2000-01-01")


# 멤버 데이터 가져오기 함수
def member_func(member):  # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'홍길동', 'year':'2000', 'month':'01', 'day'='01'} 식으로 return"

    return {
        'name': member.get('name'),
        'year': int(member.get('birth').split('-')[0]),
        'month': int(member.get('birth').split('-')[1]),
        'day': int(member.get('birth').split('-')[2])
    }


member_func(member1[0])

member2 = list(
    map(
        lambda member: {
            'name': member.get('name'),
            'year': int(member.get('birth').split('-')[0]),
            'month': int(member.get('birth').split('-')[1]),
            'day': int(member.get('birth').split('-')[2])
        }, member1))

print(member2)

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}, {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [803]:
# 예제 3
# member2를 member1 로 바꿉니다.
import datetime


def member_join_func(member):
    return {
        'name':
        member.get('name'),
        'birth':
        "{}".format(
            datetime.datetime(member.get('year'), member.get('month'),
                              member.get('day')).strftime('%Y-%m-%d'))
    }


# member2[0]
# member_join_func(member2[0])

list(
    map(
        lambda member2: {
            'name':
            member2.get('name'),
            'birth':
            "{}".format(
                datetime.datetime(member2.get('year'), member2.get('month'),
                                  member2.get('day')).strftime('%Y-%m-%d'))
        }, member2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

In [810]:
# 문제풀이


def join_date(data):
    #    print(data.get('year'), data.get('month'), data.get('day'))
    year = str(data.get('year'))

    month = data.get('month')

    if month < 10:
        month = '0' + str(month)
    else:
        month = str(month)

    day = data.get('day')

    if day < 10:
        day = '0' + str(day)
    else:
        day = str(day)

    return '-'.join([year, month, day])


join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [811]:
def join_date(data):
    print ("{}-{:02}-{:02}".format(data.get('year'), data.get('month'),data.get('day')))


join_date({'year': 2000, 'month': 1, 'day': 1})

2000-01-01

In [812]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(year=data.get('year'),
                                              month=data.get('month'),
                                              day=data.get('day')))


join_date({'year': 2000, 'month': 1, 'day': 1})

2000-01-01

In [820]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)


join_date({'year': 2000, 'month': 1, 'day': 1})

'2000-01-01'

In [831]:
# member2 = [{'name':'홍길동', 'year':'2000', 'month':'01', 'day'='01'},{'name':'신길동', 'year':'1998', 'month':'12', 'day'='31'}] 를
# member1 = [{'name':'홍길동', 'birth':'2000-01-01'},{'name':'신길동', 'birth':'1998-12-31'}] 로 가공

list(
    map(
        lambda member: {
            'name': member.get('name'),
            'birth': "{year}-{month:02}-{day:02}".format(**member)
        }, member2))

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter

- map : [1, 2, 3, 4, 5] => [2, 4, 6, 8, 10] (벡터의 모든 데이터를 가공)
- filter : [1, 2, 3, 4, 5] => [2, 4] (원하는 정보를 추출)

* cf. 리스트 컴프리헨션

In [833]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [835]:
def evenChk(value):
    #     True if value % 2 else False
    return value % 2 == 0

evenChk(10), evenChk(-9)

(True, False)

In [836]:
list_data = [1,2 ,3, 4, 5]
filter_template(lambda value : value % 2 == 0 , list_data)

[2, 4]

In [837]:
list(filter(lambda value : value % 2 == 0, list_data))

[2, 4]

In [848]:
[data for data in list_data if data % 2 == 0]

[2, 4]

### (3) sort

In [843]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [847]:
# 무조건 0번쨰 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [852]:
# 1번쨰 item 기준으로 정렬 (abc순)

pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [855]:
# 무조건 0번째 item 기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9], [1, 100], [10, 1]]

number2d.sort(reverse=True) # 기본 (reverse=False) : 오름차순정렬, (reverse=True) : 내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [863]:
# 리스트를 매개변수로 받아 합을 return 테스트
(lambda item : sum(item))([1,2,3,])

6

In [862]:
# 합이 큰 순으로 정렬
number2d.sort(key=lambda item : sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [2]:
students = [{"name": "홍길동", 'score': 90},{"name": "김길동", 'score': 50},{"name": "윤길동", 'score': 99},{'score': 100}]

In [3]:
# 이름순으로 정렬(ㄱ, ㄴ, ㄷ순)
students.sort(key = lambda item : item.get('name','힝'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [ ]:
# 점수순으로 정렬(내림차순정렬)
students.sort(key = lambda item : item.get('score',0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [67]:
# 책 제목순 정렬 (ㄱ,ㄴ,ㄷ 순), 저자순 정렬(ㄱ,ㄴ,ㄷ 순), 가격순 오름차순 정렬
books = [
    {
        'no': 1,
        'title': '강남 아파트 인사이트',
        'writer': '오스틀',
        'price': '25,200'
    },
    {
        'no': 2,
        'title': '단 한 번의 삶',
        'writer': '김영하',
        'price': '18,100'
    },
    {
        'no': 3,
        'title': '흔한남매 19',
        'writer': '백난도',
        'price': '14,220'
    },
    {
        'no': 4,
        'title': '가격이잘못',
        'writer': '홍길동',
        'price': '-'
    },
    {
        'no': 5,
        'title': '가격이숫자',
        'writer': '신길동',
        'price': 900
    },
    {
        'no': 6,
        'title': '가격이없음',
        'writer': '김길동'
    },
]

In [68]:
# title sort
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [69]:
# writer sort
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [66]:
# error
# books.sort(key = lambda book : book.get('price',0))
# books

In [70]:
# '14,000' -> 14000 / "2000" -> 2000 / 800 -> 800 / '-' -> 0


def parseInt(price):
    # print(type(price))
    if isinstance(price, str) and price.replace(",", '').isdigit():
        return int(price.replace(",", ""))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [71]:
parseInt("8,000"), parseInt(8000), parseInt(800), parseInt('-')

(8000, 8000, 800, 0)

In [72]:
# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} => 0 retutn
# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14200
# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900


def parse_int(book):
    if isinstance(book.get('price'), str) and book.get('price').replace(
            ",", "").isdigit():
        return int(book.get('price').replace(',', ''))
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0

In [73]:
parse_int(books[0]), parse_int(books[1]), parse_int(books[2]), parse_int(books[3]), parse_int(books[4])

(0, 18100, 14220, 900, 25200)

In [74]:
# books.sort(key = lambda book : int(book.get('price').replace(',','')) if isinstance(book.get('price'), str) and book.get('price').replace(",","").isdigit() else book.get('price') if isinstance(book.get('price'),int) else 0, reverse=True)

# books

books = [
    {
        'no': 1,
        'title': '강남 아파트 인사이트',
        'writer': '오스틀',
        'price': '25,200'
    },
    {
        'no': 2,
        'title': '단 한 번의 삶',
        'writer': '김영하',
        'price': '18,100'
    },
    {
        'no': 3,
        'title': '흔한남매 19',
        'writer': '백난도',
        'price': '14,220'
    },
    {
        'no': 4,
        'title': '가격이잘못',
        'writer': '홍길동',
        'price': '-'
    },
    {
        'no': 5,
        'title': '가격이숫자',
        'writer': '신길동',
        'price': 900
    },
    {
        'no': 6,
        'title': '가격이없음',
        'writer': '김길동'
    },
]

copy_books = books.copy()

copy_books.sort(key = lambda book :
                int(book.get('price').replace(',','')) \
                  if isinstance(book.get('price'), str) and \
                    book.get('price').replace(",","").isdigit() else \
                  book.get('price') if isinstance(book.get('price'),int) else \
                    0, reverse=True)

In [75]:
copy_books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'}]

In [83]:
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'}]

In [89]:
# 람다식 테스트 확인
(lambda book :
                int(book.get('price').replace(',','')) \
                  if isinstance(book.get('price'), str) and \
                    book.get('price').replace(",","").isdigit() else \
                  book.get('price') if isinstance(book.get('price'),int) else \
                    0)(books[5])

0

# 4.3 return 문에 람다식 이용

In [32]:
# 함수를 return
def make_box(shape):
    # shape : [l] => len가 l인 list 를 생성하는 함수 return,
    #         [r, c] => r행 c열인 2차원 list 를 생성하는 함수 return
    #         [d, r, c] => d면, r행, c열 3차원 list 를 생성하는 함수 return

    def box(init_value):
        if len(shape) == 1:
            return [init_value] * shape[0]
        elif len(shape) == 2:
            return [[init_value] * shape[1]] * shape[0]
    return box

In [50]:
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value] * shape[0]
    elif len(shape) ==2 :
        return lambda init_value : [[init_value]* shape[1]] * shape[0]

In [51]:
line_func = make_box([2, 3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [90]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절 파이썬 내장함수

- import 하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피한다.

## 5.1 와우

In [53]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\n* {font-family:;}\ndiv.container{width:87% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.CodeMirror {font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input { font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:12pt;padding:5px;}\ntable.dataframe{font-size:12px;}\n</style>\n"""))',
  'books',
  '# books.sort(key = lambda book : int(book.get(\'price\').replace(\',\',\'\')) if isinstance(book.get(\'price\'), str) and book.get(\'price\').replace(",","").isdigit() else book.get(\'price\') if isinstance(book.get(\'price\'),int) else 0, reverse=True)\n\n# books\n\nbooks = [\n    {\n        \'no\': 1,\n        \'title\': \'강남 아파트 인사이트\',\n        \'writer\': \'오스틀\',\n        \'price\': \'25,200\'\n    },\n    {\n        \'no\': 2,\n        \'title\': \'단 한 번의 삶\',\n        \'writer\': \'김영하\',\n        \'price\': \'18,100\'\n    },\n    {\n        \'no\': 3,\n        \'title\': \'흔한남매 19\',\n        \'writer\': \'백난도\',\n        \'price\': \'14,220\'\n    },\n    {\n        \'no\': 4,\n        \'title\': \'가격이잘못\',\n        \'writer\': \'홍길동\',\n        \'price\': \'-\'\n    },\n    {\n        \'no\': 5,\n        \'title\': \'가격이숫자\',\n        \'writer\': \'신길동\',\n        \'price\': 900\n    },\n    {\n        \'no\': 6,\n        \'title\': \'가격이없음\',\n        \'writer\': \'김길동\'\n    },\n]\n\ncopy_books = books.copy()\n\ncopy_books.sort(key = lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0, reverse=True)\ncopy_books',
  'books',
  '# books.sort(key = lambda book : int(book.get(\'price\').replace(\',\',\'\')) if isinstance(book.get(\'price\'), str) and book.get(\'price\').replace(",","").isdigit() else book.get(\'price\') if isinstance(book.get(\'price\'),int) else 0, reverse=True)\n\n# books\n\nbooks = [\n    {\n        \'no\': 1,\n        \'title\': \'강남 아파트 인사이트\',\n        \'writer\': \'오스틀\',\n        \'price\': \'25,200\'\n    },\n    {\n        \'no\': 2,\n        \'title\': \'단 한 번의 삶\',\n        \'writer\': \'김영하\',\n        \'price\': \'18,100\'\n    },\n    {\n        \'no\': 3,\n        \'title\': \'흔한남매 19\',\n        \'writer\': \'백난도\',\n        \'price\': \'14,220\'\n    },\n    {\n        \'no\': 4,\n        \'title\': \'가격이잘못\',\n        \'writer\': \'홍길동\',\n        \'price\': \'-\'\n    },\n    {\n        \'no\': 5,\n        \'title\': \'가격이숫자\',\n        \'writer\': \'신길동\',\n        \'price\': 900\n    },\n    {\n        \'no\': 6,\n        \'title\': \'가격이없음\',\n        \'writer\': \'김길동\'\n    },\n]\n\ncopy_books = books.copy()\n\ncopy_books.sort(key = lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0, reverse=True)\ncopy_books',
  'lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  '# books.sort(key = lambda book : int(book.get(\'price\').replace(\',\',\'\')) if isinstance(book.get(\'price\'), str) and book.get(\'price\').replace(",","").isdigit() else book.get(\'price\') if isinstance(book.get(\'price\'),int) else 0, reverse=True)\n\n# books\n\nbooks = [\n    {\n        \'no\': 1,\n        \'title\': \'강남 아파트 인사이트\',\n        \'writer\': \'오스틀\',\n        \'price\': \'25,200\'\n    },\n    {\n        \'no\': 2,\n        \'title\': \'단 한 번의 삶\',\n        \'writer\': \'김영하\',\n        \'price\': \'18,100\'\n    },\n    {\n        \'no\': 3,\n        \'title\': \'흔한남매 19\',\n        \'writer\': \'백난도\',\n        \'price\': \'14,220\'\n    },\n    {\n        \'no\': 4,\n        \'title\': \'가격이잘못\',\n        \'writer\': \'홍길동\',\n        \'price\': \'-\'\n    },\n    {\n        \'no\': 5,\n        \'title\': \'가격이숫자\',\n        \'writer\': \'신길동\',\n        \'price\': 900\n    },\n    {\n        \'no\': 6,\n        \'title\': \'가격이없음\',\n        \'writer\': \'김길동\'\n    },\n]\n\ncopy_books = books.copy()\n\ncopy_books.sort(key = lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0, reverse=True)\ncopy_books',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  'copy_books',
  '# books.sort(key = lambda book : int(book.get(\'price\').replace(\',\',\'\')) if isinstance(book.get(\'price\'), str) and book.get(\'price\').replace(",","").isdigit() else book.get(\'price\') if isinstance(book.get(\'price\'),int) else 0, reverse=True)\n\n# books\n\nbooks = [\n    {\n        \'no\': 1,\n        \'title\': \'강남 아파트 인사이트\',\n        \'writer\': \'오스틀\',\n        \'price\': \'25,200\'\n    },\n    {\n        \'no\': 2,\n        \'title\': \'단 한 번의 삶\',\n        \'writer\': \'김영하\',\n        \'price\': \'18,100\'\n    },\n    {\n        \'no\': 3,\n        \'title\': \'흔한남매 19\',\n        \'writer\': \'백난도\',\n        \'price\': \'14,220\'\n    },\n    {\n        \'no\': 4,\n        \'title\': \'가격이잘못\',\n        \'writer\': \'홍길동\',\n        \'price\': \'-\'\n    },\n    {\n        \'no\': 5,\n        \'title\': \'가격이숫자\',\n        \'writer\': \'신길동\',\n        \'price\': 900\n    },\n    {\n        \'no\': 6,\n        \'title\': \'가격이없음\',\n        \'writer\': \'김길동\'\n    },\n]\n\ncopy_books = books.copy()\n\ncopy_books.sort(key = lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0, reverse=True)',
  'copy_books',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  '(lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0)(books[0])',
  'books',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\n* {font-family:Consolas;}\ndiv.container{width:87% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.CodeMirror {font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input { font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:12pt;padding:5px;}\ntable.dataframe{font-size:12px;}\n</style>\n"""))',
  '# 함수를 return\ndef make_box(shape) :# shape : [l] => len가 l인 list 를 생성하는 함수 return, \n                    #          [r, c] => r행 c열인 2차원 list 를 생성하는 함수 return\n                    #          [d, r, c] => d면, r행, c열 3차원 list 를 생성하는 함수 return\n            \n    def box(init_value) :\n        if len(shape):\n            return [init_value]*shape[0]',
  '# 함수를 return\ndef make_box(shape) :# shape : [l] => len가 l인 list 를 생성하는 함수 return, \n                    #          [r, c] => r행 c열인 2차원 list 를 생성하는 함수 return\n                    #          [d, r, c] => d면, r행, c열 3차원 list 를 생성하는 함수 return\n            \n    def box(init_value) :\n        if len(shape) == 1:\n            return [init_value]*shape[0]\n        elif len(shape) == 2:\n            return [ [init_value] * shape[1] ] * shape[0]',
  '# 함수를 return\ndef make_box(shape) :# shape : [l] => len가 l인 list 를 생성하는 함수 return, \n                    #          [r, c] => r행 c열인 2차원 list 를 생성하는 함수 return\n                    #          [d, r, c] => d면, r행, c열 3차원 list 를 생성하는 함수 return\n            \n    def box(init_value) :\n        if len(shape) == 1:\n            return [init_value]*shape[0]\n        elif len(shape) == 2:\n            return [ [init_value] * shape[1] ] * shape[0]',
  '# 함수를 return\ndef make_box(shape) :# shape : [l] => len가 l인 list 를 생성하는 함수 return, \n                    #          [r, c] => r행 c열인 2차원 list 를 생성하는 함수 return\n                    #          [d, r, c] => d면, r행, c열 3차원 list 를 생성하는 함수 return\n            \n    def box(init_value) :\n        if len(shape) == 1:\n            return [init_value]*shape[0]\n        elif len(shape) == 2:\n            return [ [init_value] * shape[1] ] * shape[0]',
  'line_func = make_box([2, 3])',
  'line_func = make_box([2, 3])\n\nprint(line_func)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  '# 함수를 return\ndef make_box(shape):\n    # shape : [l] => len가 l인 list 를 생성하는 함수 return,\n    #         [r, c] => r행 c열인 2차원 list 를 생성하는 함수 return\n    #         [d, r, c] => d면, r행, c열 3차원 list 를 생성하는 함수 return\n\n    def box(init_value):\n        if len(shape) == 1:\n            return [init_value] * shape[0]\n        elif len(shape) == 2:\n            return [[init_value] * shape[1]] * shape[0]]\n    return box',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  '# 함수를 return\ndef make_box(shape):\n    # shape : [l] => len가 l인 list 를 생성하는 함수 return,\n    #         [r, c] => r행 c열인 2차원 list 를 생성하는 함수 return\n    #         [d, r, c] => d면, r행, c열 3차원 list 를 생성하는 함수 return\n\n    def box(init_value):\n        if len(shape) == 1:\n            return [init_value] * shape[0]\n        elif len(shape) == 2:\n            return [[init_value] * shape[1]] * shape[0]\n    return box',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  'def make_box(shape):\n    if len(shape)==1:',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value] * shape[0]\n    elif len(shape) ==2 :\n        return [[init_value]* shape[1]] * shape[0]',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value] * shape[0]\n    elif len(shape) ==2 :\n        return [[init_value]* shape[1]] * shape[0]',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func = make_box([2, 3])\n\nline_func(3)',
  'line_func = make_box([2, 3])\nline_func(3)',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value] * shape[0]\n    elif len(shape) ==2 :\n        return lambda [[init_value]* shape[1]] * shape[0]',
  'def make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value] * shape[0]\n    elif len(shape) ==2 :\n        return lambda init_value : [[init_value]* shape[1]] * shape[0]',
  'line_func = make_box([2, 3])\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  'globals()'],
 '_oh': {3: [{'no': 1,
    'title': '강남 아파트 인사이트',
    'writer': '오스틀',
    'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  4: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  5: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  7: 25200,
  8: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  9: 25200,
  10: 25200,
  11: 25200,
  12: 25200,
  13: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  15: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  16: 25200,
  17: 25200,
  18: 25200,
  19: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  33: [[3, 3, 3], [3, 3, 3]],
  34: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
  40: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
  51: [[3, 3, 3], [3, 3, 3]],
  52: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3]},
 '_dh': [WindowsPath('C:/ai_x/source/01_python')],
 'In': ['',
  'from IPython.display import display, HTML\ndisplay(HTML("""\n<style>\n* {font-family:;}\ndiv.container{width:87% !important;}\ndiv.cell.code_cell.rendered{width:100%;}\ndiv.CodeMirror {font-size:12pt;}\ndiv.output {font-size:12pt; font-weight:bold;}\ndiv.input { font-size:12pt;}\ndiv.prompt {min-width:70px;}\ndiv#toc-wrapper{padding-top:120px;}\ndiv.text_cell_render ul li{font-size:12pt;padding:5px;}\ntable.dataframe{font-size:12px;}\n</style>\n"""))',
  'books',
  '# books.sort(key = lambda book : int(book.get(\'price\').replace(\',\',\'\')) if isinstance(book.get(\'price\'), str) and book.get(\'price\').replace(",","").isdigit() else book.get(\'price\') if isinstance(book.get(\'price\'),int) else 0, reverse=True)\n\n# books\n\nbooks = [\n    {\n        \'no\': 1,\n        \'title\': \'강남 아파트 인사이트\',\n        \'writer\': \'오스틀\',\n        \'price\': \'25,200\'\n    },\n    {\n        \'no\': 2,\n        \'title\': \'단 한 번의 삶\',\n        \'writer\': \'김영하\',\n        \'price\': \'18,100\'\n    },\n    {\n        \'no\': 3,\n        \'title\': \'흔한남매 19\',\n        \'writer\': \'백난도\',\n        \'price\': \'14,220\'\n    },\n    {\n        \'no\': 4,\n        \'title\': \'가격이잘못\',\n        \'writer\': \'홍길동\',\n        \'price\': \'-\'\n    },\n    {\n        \'no\': 5,\n        \'title\': \'가격이숫자\',\n        \'writer\': \'신길동\',\n        \'price\': 900\n    },\n    {\n        \'no\': 6,\n        \'title\': \'가격이없음\',\n        \'writer\': \'김길동\'\n    },\n]\n\ncopy_books = books.copy()\n\ncopy_books.sort(key = lambda book :\n                int(book.get(\'price\').replace(\',\',\'\')) \\\n                  if isinstance(book.get(\'price\'), str) and \\\n                    book.get(\'price\').replace(",","").isdigit() else \\\n                  book.get(\'price\') if isinstance(book.get(\'price\'),int) else \\\n                    0, reverse=True)\ncopy_books',
  'books',

In [59]:
all([True, True, True, False]) # 전부 True인지 여부

False

In [60]:
round(3.5) # 반올림

4

In [66]:
import numpy as np # numpy 모듈을 np라는 이름으로 Load
np.round(3.5), np.ceil(3.1), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 연습문제(실습형)

In [99]:
# 1. 함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
# • def get_max_min(data_list):
# • get_max_min= lambda ~

def get_max_min(data_list):
    result = f"최대값 {max(data_list)}, 최소값 {min(data_list)}"
    return result

print("함수 : ", get_max_min([1, 100, 11, 2, 3, 4, 6, 50]))

get_max_min_lambda = lambda x : f"최대값 {max(data_list)}, 최소값 {min(data_list)}"

print("람다 : ",get_max_min_lambda([1, 100, 11, 2, 3, 4, 6, 50]))

함수 :  최대값 100, 최소값 1
람다 :  최대값 100, 최소값 1

In [30]:
# 2.체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
# • getBMI(kg, m):
# • BMI지수 = 체중(kg) / 신장(m)의 제곱
# • BMI<18.5 : 마른체형
# • 18.5<=BMI<25 : 표준
# • 25<=BMI<30 : 비만
# • BMI >=30 : 고도비만

def getBMI (kg, cm):
    m = cm / 100  # cm를 m로 변환
    bmi = kg / (m ** 2)
    
    # print(bmi)
    return "마름체형" if bmi < 18.5 else "표준" if 18.5<=bmi<25 else "비만" if 25<=bmi<30 else "고도비만" if bmi >= 30 else '측정불가'
    
print(getBMI(70, 175))

getBMI_lambda = lambda kg, cm : "마름체형" if kg / ((cm / 100) ** 2) < 18.5 else \
                            "표준" if 18.5<=kg / ((cm / 100) ** 2)<25 else \
                            "비만" if 25<=kg / ((cm / 100) ** 2)<30 else \
                            "고도비만" if kg / ((cm / 100) ** 2) >= 30 else \
                            "측정불가"
print(getBMI_lambda(90, 164))

표준
고도비만

In [24]:
# 3.직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
# • 리턴값은 면적과 둘레를 return하도록 구현하세요
# • math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
# • def get_triangle(width, height):

import math
def get_triangle(width, height):
    area = width * height * 0.5
    perimeter = width + height + math.sqrt(width*width + height*height)
    return {'넓이':area, '둘레':perimeter}
 # math 모듈을 사용하라고 하지만 구현능력을 위해 하드코딩이라고 함(훈련생 曰)
get_triangle_lambda = lambda width, height : {
        '넓이':width * height * 0.5,
        '둘레':width + height + (width*width + height*height)**0.5
}
get_triangle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [25]:
# cf. 제곱근을 구하는 함수
import math
math.sqrt(25)

5.0

In [23]:
# 4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
# •def mysum(from, end):

def mysum(fRom, end):
    result = 0
    for item in range(fRom, end+1):
        result += item
    return result

print(mysum(10, 12))


mysum2 = lambda fRom, end : sum(range(fRom, end+1))
print(mysum2(10, 12))

33
33

In [6]:
# 5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# • 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
# • def get_abbrs(lst):

def get_abbrs(lst):
    # print(lst)
    return [item[0:3] for item in lst]
    
print("함수 :", get_abbrs(['Seoul', 'Daegu', 'Kwangju', 'Jeju']))

get_abbrs_lambda = lambda lst : [(item[0:3]) for item in lst]

print("람다 :", get_abbrs_lambda(['Seoul', 'Daegu', 'Kwangju', 'Jeju']))

함수 : ['Seo', 'Dae', 'Kwa', 'Jej']
람다 : ['Seo', 'Dae', 'Kwa', 'Jej']

In [263]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
def f(x, y) :
    return x ** y

print(f(1,2))

(lambda x, y : x ** y)(1,2)

1

1

In [20]:
# 문제풀이
# 실습형 6 함수를 람다식으로 변경
fun = lambda x, y : x**y
print(fun(2, 3))
print((lambda x, y : x**y)(2,3))

8
8

In [19]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오.

ex = [1, 2, 3, 4, 5]

list(map(lambda ex_item: ex_item * ex_item, ex))

# 문제풀이
ex = [1,2,3,4,5]
list(map(lambda x : x**2, ex))

# 실습형 7. 리스트컴프리헨션 이용
[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [18]:
# 8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
a = [1, 2, 3]
print(*a) #언패킹

print(a) # 패킹


answer="""
별표(asterisk, *)는 함수의 인자(argument)로 사용될 때, 
시퀀스형 자료형의 각각의 값(element)을 하나의 값(element)으로 넣어주게 된다(언패킹)
그러므로 print(*a)의 의미는 사실 print(a[0], a[1], a[2])으로 나타나게 된다.
"""

1 2 3
[1, 2, 3]

In [19]:
# 9. 다음 코드의 실행 결과는?
data_info = {'year': 2024, 'month': 9, 'day': 6}

result = '{year}-{month}-{day}'.format(**data_info)
result

'2024-9-6'

In [34]:
# 문제풀이
data_info = {'year': 2024, 'month': 9, 'day': 6}

# result = "{year}-{month}-{day}".format(year='2019', month=9, day=6)
# '2024-09-06을 원하면'
result = "{year}-{month:02}-{day:02}".format(**data_info)
result



# 값이 문자일 경우
data_info = {'year': '2024', 'month': '9', 'day': '6'}
result = "{year}-{month:>02}-{day:>02}".format(**data_info)
result

'2024-09-06'

In [10]:
# 10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는 vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

# vector_var = [(1, 2, 3, 4, 5, 6),[10,10],{"name":"홍길동"}]

# def vector_size_check(*vector_var):
#     # print(vector_var)
#     return [len(item) for item in vector_var]
    
    
# vector_size_check(*vector_var)

True

In [14]:
# 문제풀이

# 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들을 return 하는 함수
def vector_size(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return result

def vector_size(*vector_var):
    return [len(vector) for vector in vector_var]

vector_size([10, 20], (100, 200), {'name':'홍', 'age':20}, {1, 2})

[2, 2, 2, 2]

In [38]:
# 원래 실습형 10. (셋 이용)
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : 셋 이용
# def vector_size_check(*vector_var):
#     result = set()
#     for vector in vector_var:
#         result.add(len(vector))
#     return len(result)==1


def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var])) == 1


vector_size_check([10, 20], (100, 200), {'name': '홍', 'age': 20}, {1, 2})

True

In [15]:
vector_size_check([10, 20], (100,), {'name':'홍', 'age':20}, {1, 2})

False

In [11]:
# 원래 실습형 10. (all이용)
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : all이용
# def vector_size_check(*vector_var):
#     result = []
#     for vector in vector_var:
#         result.append(len(vector))
#     return all(result)


def vector_size_check(*vector_var):
    return all([len(vector) for vector in vector_var])


vector_size_check([10, 20], (100, 200), {'name': '홍', 'age': 20}, {1, 2})

True

In [39]:
vector_size_check([10, 20], (100,), {'name':'홍', 'age':20}, {1, 2})

False

In [40]:
all([5, 5, 5, 5])

True

In [ ]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
# 실습형 11 scalar_vector_product(5, [1,2,3,4]) => [5,10,15,20]
def scalar_vector_product(num, vector):
    return [num*vec for vec in vector]

scalar_vector_product(5, [1,2,3,4])


# 연습문제(서술형)

In [155]:
# 1. 다음코드의 실행 결과는? 
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key=lambda pair:pair[1])
pairs

# 정답: 2

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [49]:
# 2. 에러에 대한 문제 해결
a = 10

def sub() :
    global a # 문제해결을 위한 코드
    a += 1
    print(a, end='(sub에서 a는 전역변수) ')
    
def func():
    for i in range(2):
        a = 5 # 지역변수
        a += 1
        print(a, end='(func에서 a는 지역변수) ')
        sub()
a += 1
func()

answer ='''
오류가 발생하는 라인 : 원래 3번째줄(a += 1부분)
a = a+1 : a에 값을 할당하면 지역변수가 됨
          지역변수 a+1를 계산할 수 없음
문제해결을 위해 : 에러나는 줄 앞에 global a 선언
'''

6(func에서 a는 지역변수) 12(sub에서 a는 전역변수) 6(func에서 a는 지역변수) 13(sub에서 a는 전역변수)

In [179]:
# 3. 다음구문을 실행한 결과는
var = 100
def func(var):
    print("func brfore : ", var)
    var = 200
    print("func after : ", var)
func(var)

print("전역변수 :", var)

func brfore :  100
func after :  200
전역변수 : 100

In [3]:
# 4. 다음구문의실행 결과는?
def my_func(func, *args):
    return func(*args)

import numpy as np

my_func(np.add, 2, 3)

# 출력값 5

5

In [4]:
np.add(2,3)

5

In [186]:
# 5. 다음구문의 실행결과는?
def my_func(func, *args):
    return func(*args)

my_func(lambda a, b : a**b, 3, 2)

9

In [ ]:
# 6. 파이썬 함수에 대한 설명 중 잘못된 것은?
# ① 파이썬의 함수는 중복 정의해 사용할 수 있다.
# ② 파이썬의 함수 매개변수는 기본값을 가질 수 있다.
# ③ **args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
# ④ 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.

# 정답 : 1

In [50]:
# 7. 다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출 ?

list_ = []

def func(a, L=None) :
    if L is None:
        L = []
    L.append(a)
    
    return L

# func(10, list_)
# func(20, L=list_)
# func(a=30)
# func([], a =40)

# 정답 : 4번

In [51]:
# 8. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요 (영문 소문자로 쓰세요)
# - 작은 익명함수를 의미합니다. 
# - 함수가 실행할 문장이 한 문장일 경우에 만들어 사용할 수 있습니다.
# - 다른 함수의 인수 또는 리턴값에 사용할 수 있습니다.

# 정답 : lambda