In [82]:
from IPython.display import display, HTML

display(
    HTML("""
<style>
* {font-family:Consolas;}
div.container{width:87% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input { font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:3px;}
table.dataframe{font-size:12px;}
</style>
"""))

# 강의 순서
```
1. *.txt
   김희원, 33, 아무동9
   이희원, 22, 무시기동8
   
2. pickle파일(*.data) : 객체리스트 저장 (가벼운 머신러닝 모델저장용)

3. *.csv : 지나간 데이터를 가져올떄 쓴다. (cp949로 오픈해야 한글이 꺠지지 않는다.)
   name,age,address
   "김희원,33,"아무동9"
   "이희원",22,"무시기동8"

4. *.json : 실시간 데이터를 가져올떄, 많이 쓴다.
   [{'name': '김희원', 'age':33, 'address': '아무동9'},
    {'name': '이희원', 'age':22, 'address': '무시기동8'}]

5. *.h5, *.hdf5 : 딥러닝 모델 저장
   HDVview로 읽을 수 있음
   
6. *.xml
   <customer>
       <name>김희원</name>
       <age>33</age>
       <address>아무동9</address>       
   </customer>
   <customer>
       <name>이희원</name>
       <age>22</age>
       <address>무시기동8</address>       
   </customer>
```

<b><font size="6" color="red">ch09.파일io(입출력)프로그래밍</font></b>

- 파일 : txt, pickle, csv, json, hdf5(h5)

# 1절. txt 파일에 데이터 저장하고 불러오기

## 1-1. 저장

In [5]:
try:
    f = open("data/ch09.txt", 'w')
    # 데이터 출력
except FileExistsError as e:
    print(e)
finally:
    f.close()

In [8]:
f = open("data/ch09.txt", 'w')
print('쓰기 가능한지 여부 :',f.writable())

쓰기 가능한지 여부 : True

In [9]:
f.write('Hello\nWrold')
f.close() # close() 쓰기한 내용이 저장이 안됨

In [11]:
# mode : 'r' 또는 'rt' - 파일이 없는 경우 예외, 파일이 있는 경우 text읽기 모드
#        'tb' - 바이너리 읽기 모드
# 읽기 모드에서 파일이 없으면, 예외발생
#        'w' 또는 'wt' - text쓰기 모드 (파일이 있으면 덮어씀, 파일이 없으면 파일 생성)
#        'wb'- 바이너리 쓰기 모드
#        'a' 또는 'at' - text 추가 모드 (파일이 있으면 append, 파일이 없으면 파일 생성)
# 쓰기 모드에서 폴더가 없으면, 예외발생

# encording
#        'euc-kr' (한글완성형)
#        'cp949'  (확장된 한글완성형) : open() 함수 기본 encording방식 (win)
#        'utf-8'  (한글조합형) : open() 함수 기본 encording방식 (mac, linux), 주피터노트북 기본
with open("data/ch09.txt", 'w') as f:
    print('쓰기 가능한지 여부 :', f.writable())
    f.write("Hello\nPython")

쓰기 가능한지 여부 : True

In [31]:
# utf-8 encording 
with open('data/ch09.txt', 'w', encoding='utf-8') as f:
# cp949 encording     
# with open('data/ch09.txt', 'w') as f:
    # 1 방법
    f.write('홍길동, 33, 아무동9\n')
    f.write('김길동, 33, 아무동9\n')
    
    # 2 방법
    textlist = ['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']
    for line in textlist:
        f.write(line)
    # 3 방법
    f.writelines(textlist)

## 1-2. 읽기

In [32]:
# 한줄씩 읽기
with open('data/ch09.txt', 'r', encoding='utf-8') as f:
    line = f.readline()
    while line !='':
        print(line, end='')
        line = f.readline()

홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9

### ※ 읽기 제일 많이 쓰는 방식

In [33]:
# 모든 줄을 읽기
# 제일 많이 쓰는 방식
with open('data/ch09.txt', 'r', encoding='utf-8') as f:
    lines = f.readlines()
    print(lines)

['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']

In [35]:
# 모두 읽기
with open('data/ch09.txt', 'r', encoding='utf-8') as f:
    lines = f.read()
#     print(lines)
lines

'홍길동, 33, 아무동9\n김길동, 33, 아무동9\n홍길동, 33, 아무동9\n김길동, 33, 아무동9\n홍길동, 33, 아무동9\n김길동, 33, 아무동9\n'

# 2절. 피클(pickle)을 이용한 객체 저장 및 불러오기


## 2.1. 형식이 있는 txt 데이터 불러오기

In [44]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self):
        return "{}, {}, {}, {}".format(self.name,
                                       "성년" if self.age > 18 else "미성년",
                                       self.email, self.address)

    def as_dict(self):
        return {
            "name": self.name,
            "age": self.age,
            "email": self.email,
            "address": self.address
        }

    def __eq__(self, other):
        return self.name == other.name and \
            self.age == other.age and \
            self.email == other.email and \
            self.address == other.address

In [48]:
user1 = Member('홍', 20, 'a@a.com', '신림동')
user2 = Member('홍', 20, 'a@a.com', '신림동')

print(user1 == user2)
print(user1.__eq__(user2)) # 같은 내용이면 True

True
True

In [59]:
# 형식이 있는 txt 파일 내용을 member list(픽클 저장), 딕셔너리 list (데이터프레임)로 저장

user_list = []  # member list
user_dict = []  # 딕셔너리 list

with open('data/ch09_member.txt', 'r', encoding="utf-8") as text_file:
    lines = text_file.readlines()

#print(lines)

for line in lines:
    data = line.split(",")
    # print(data)
    name = data[0]
    age = int(data[1].strip())  # strip() 좌우 공백 (space, \t, \n) 제거
    email = data[2].strip()
    address = data[3].strip()

    user = Member(name, age, email, address)
    # print(user)
    user_list.append(user)
    user_dict.append(user.as_dict())
    # user_dict.append(user.__dict__)

In [64]:
user_dict

for user in user_list:
    print(user)

홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
신길동, 성년, shinkil@hong.com, 서울시 동작구

## 2.2. 피클링

- 객체 리스트 (user_list) -> 피클파일로 쓰기
- 피클 파일을 읽기 -> 객체 리스트 (load_user_list)

In [65]:
# 피클링을 이용한 객체를 저장하기

import pickle

with open('data/ch09_member.data', 'wb') as f:
    pickle.dump(user_list, f)

In [66]:
# 피클링을 이용한 파일에서 객체 데이터로 읽기
with open('data/ch09_member.data', 'rb') as f:
    load_user_list = pickle.load(f)

In [68]:
print(user_list == load_user_list)

True

In [72]:
for idx in range(len(user_list)):
    print(idx, user[idx])
    print(idx, load_user_list[idx])

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구

In [79]:
for idx, (user, load_user) in enumerate(zip(user_list, load_user_list)):
    print(idx, user)
    print(idx, load_user)
    print(user==load_user)

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
True
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
True
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
True

In [81]:
result = []
for user, load_user in zip(user_list, load_user_list):
    result.append(user == load_user)
all(result)

True

# 3절. CSV형식 파일 읽기 / 쓰기

- CSV 파일 <-> 리스트데이터로 읽기 3.1 / 쓰기 3.2
- CSV 파일 <-> 딕셔너리데이터 읽기 3.3 / 쓰기 3.4

## 3.1. reader

In [94]:
import csv
with open('data/ch09_member1.csv', 'r', encoding="utf-8") as f:
    reader = csv.reader(f)
    # print(list(reader))
    result = list(reader)
# print(list(reader)) error 발생
print(result)

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'], ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'], ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [101]:
# ""(따옴표)가 없는 데이터는 numeric 으로
import csv
with open('data/ch09_member1.csv', 'r', encoding="utf-8") as f:
    reader = csv.reader(f, quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
print(result)

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'], ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'], ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [108]:
# 리스트를 딕셔너리로 변경 (귀찮네 ...)
# ""(따옴표)가 없는 데이터는 numeric 으로
import csv
with open('data/ch09_member1.csv', 'r', encoding="utf-8") as f:
    reader = csv.reader(f, quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)

dict_list = []

for data in result:
    dict_list.append({
        "name": data[0],
        "age": int(data[1]),
        "email": data[2],
        "address": data[3]
    })

print(dict_list)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 40, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

## 3.2. writer

In [113]:
import csv

user_list = [['홍길동', 20, 'kildong@hong.com', '서울시 관악구'],
             ['김길동', 40, 'kimdong@hong.com', '서울시 영등포구'],
             ['신길동', 30, 'sindong@hong.com', '서울시 동작구']]

with open("data/ch09_member1_write.csv", 'a', newline='',
          encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerows(user_list)

In [114]:
import csv

user_list = [['홍길동', 20, 'kildong@hong.com', '서울시 관악구'],
             ['김길동', 40, 'kimdong@hong.com', '서울시 영등포구'],
             ['신길동', 30, 'sindong@hong.com', '서울시 동작구']]

with open("data/ch09_member1_write.csv", 'w', newline='',
          encoding="utf-8") as f:
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list)

## 3.3. DicReader

In [120]:
# Header 가 있는 CSV 파일을 딕셔너리로 읽기
import csv

with open('data/ch09_member3.csv', 'r', encoding="utf-8") as f:
    dict_reader = csv.DictReader(f)
    #     print(list(dict_reader))
    dict_list = list(dict_reader)

print(dict_list)
print("-----------------------------------------------------------")
for row in dict_list:
    if row['job'] is None:
        print(row['name'], row['age'], row['email'], row['address'])
    else:
        print(row['name'], row['age'], row['email'], row['address'],
              row['job'])

[{'name': '홍길동', 'age': '20', 'email': 'h@h.com', 'address': '서울시 관악구', 'job': None}, {'name': '신길동', 'age': '40', 'email': 's@h.com', 'address': '서울시 영등포구', 'job': '팀장'}, {'name': '김길동', 'age': '30', 'email': 'k@h.com', 'address': '서울시 동작구', 'job': None}]
-----------------------------------------------------------
홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [136]:
# Header 가 없는 CSV 파일(ch09_member1-cp)을 딕셔너리로 읽기
import csv

with open('data/ch09_member1-cp.csv', 'r', encoding="cp949") as f:
    dict_reader = csv.DictReader(
        f, fieldnames=['Name', 'Age', 'Email', 'Address', 'Job'])

    # print(list(dict_reader))
    result = list(dict_reader)
    print(result)

print('------------------------------')

for row in result:
    print(row)

[{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}, {'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}, {'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}]
----------------------------------------------------------------------------------------------------
{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [139]:
import csv

with open('data/ch09_member1-cp.csv', 'r', encoding="cp949") as f:
    dict_reader = csv.DictReader(
        f, fieldnames=['Name', 'Age', 'Email', 'Address'], restkey='Job')
    result = list(dict_reader)

for row in result:
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ['']}

## 3.4. DictWriter

- 딕셔너리 리스트 -> CSV파일

In [146]:
user1 = {'name': '홍길동', 'age': 22, 'email': 'a@a.com', 'address': '신림동'}
user2 = {'name': '신길동', 'age': 32, 'email': 'b@b.com', 'address': '신림동'}
user3 = {'name': '김길동', 'age': 42, 'email': 'c@c.com', 'address': '신림동'}

user_list = [user1, user2, user3]
fieldnames = list(user1.keys())

In [143]:
user1.keys()

dict_keys(['name', 'age', 'email', 'address'])

In [144]:
user1.values()

dict_values(['홍길동', 22, 'a@a.com', '신림동'])

In [145]:
user1.items()

dict_items([('name', '홍길동'), ('age', 22), ('email', 'a@a.com'), ('address', '신림동')])

In [148]:
import csv
with open('data/ch09_member4.csv', 'w', newline='', encoding="utf-8") as f:
    dict_writer = csv.DictWriter(f, fieldnames=fieldnames)
    dict_writer.writeheader()  # header 쓰기
    dict_writer.writerows(user_list)

## CSV <-> 데이터프레임

In [151]:
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv',encoding='utf-8') # encoding = utf-8 이 기본
member

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [152]:
type(member)

pandas.core.frame.DataFrame

# 4절. JSON 데이터 저장하고 불러오기 (dump, load)

- 딕셔너리리스트 <-> JSON 파일 (기본)
- 객체리스트 <-> JSON 파일

## 4.1. dump (파일출력)

In [160]:
data = [{
    'name': '홍길동',
    'age': 20,
    'email': 'kildong@hong.com',
    'address': '서울시 관악구'
}, {
    'name': '김길동',
    'age': 40,
    'email': 'kimdong@hong.com',
    'address': '서울시 영등포구'
}, {
    'name': '신길동',
    'age': 30,
    'email': 'sindong@hong.com',
    'address': '서울시 동작구'
}]

In [162]:
# ensure_ascii 매개변수
# True  : 비 ASCII 문자 유니코드 현태로 저장
# False : 비 ASCII 문자 원래 형태로 저장

import json
with open('data/ch09_member.json', "w", encoding="utf-8") as jsonfile:
#     json.dump(data, jsonfile, ensure_ascii=False, indent='\t')
    json.dump(data, jsonfile, ensure_ascii=False)

In [196]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address

    def __str__(self):
        return "{}, {}, {}, {}".format(self.name, self.age, self.email,
                                       self.address)

    def as_dict(self):
        return {
            "name": self.name,
            "age": self.age,
            "email": self.email,
            "address": self.address
        }

    def __eq__(self, other):
        if isinstance(other, Member):
            # return self.name == other.name and \
            #        self.age == other.age and \
            #        self.email == other.email and \
            #        self.address == other.address

            # return self.__str__() == other.__str__()
            # print(self.__dict__)
            return self.__dict__ == other.__dict__
        else:
            return False

In [197]:
user1 = Member('홍길동', 22, 'a@a.com','신림동')
user2 = Member('홍길동', 22, 'a@a.com','신림동')

print(user1.__eq__(user2))
# print(user1==user2)

# print(user1.__eq__("홍길동"))
# print(user1=="홍길동")

True

In [198]:
member_list = [
    Member('홍길동', 22, 'aa@aa.com', '서울'),
    Member('신길동', 32, 'aa@aa.com', '서울'),
    Member('김길동', 42, 'aa@aa.com', '서울'),
]

In [202]:
with open('data/ch09_member1.json', 'w', encoding="utf-8") as jsonfile:
    json.dump(member_list,
              jsonfile,
              ensure_ascii=False,
              indent="\t",
              default=Member.as_dict) # default=Member.as_dict 객체를 딕셔너리로 return 하는 인스턴스 함수

## 4.2. load (파일입력)

- JSON 파일 → 딕셔너리리스트 (기본)
                  ↓
- JSON 파일 → 객체리스트

In [204]:
def as_member(dic):
    '매개변수로 딕셔너리를 받아 Member 객체를 return'
    return Member(dic.get('name'), dic.get('age'), dic.get('email'), dic.get('address'))

In [206]:
member = as_member({'name': '김길동', 'age': 20, 'email': 'a@a.com', 'address': '관악'})
print(member)

김길동, 20, a@a.com, 관악

In [207]:
with open('data/ch09_member.json', 'r', encoding="utf-8") as f:
    load_data = json.load(f)

load_data

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'},
 {'name': '김길동',
  'age': 40,
  'email': 'kimdong@hong.com',
  'address': '서울시 영등포구'},
 {'name': '신길동', 'age': 30, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

In [212]:
with open('data/ch09_member1.json', 'r', encoding="utf-8") as f:
    load_member_list = json.load(f, object_hook=as_member)

for load_member in load_member_list:
    print(load_member)

홍길동, 22, aa@aa.com, 서울
신길동, 32, aa@aa.com, 서울
김길동, 42, aa@aa.com, 서울

## JSON -> 데이터프레임

In [220]:
import pandas as pd

pd.read_json('data/ch09_member.json',encoding='utf-8')

# pd.함수() : encording='utf-8' 기본값
# open(파일, 모드)함수 : encording='cp949' 기본값

  name  age             email   address
0  홍길동   20  kildong@hong.com   서울시 관악구
1  김길동   40  kimdong@hong.com  서울시 영등포구
2  신길동   30  sindong@hong.com   서울시 동작구

In [219]:
import pandas as pd

pd.read_json('data/ch09_member1.json',encoding='utf-8')

  name  age      email address
0  홍길동   22  aa@aa.com      서울
1  신길동   32  aa@aa.com      서울
2  김길동   42  aa@aa.com      서울

.h5, *.hdf5 Viewer: <a href="https://www.hdfgroup.org/download-hdfview/" target="_blank">https://www.hdfgroup.org/download-hdfview/</a>