In [130]:
from IPython.display import display, HTML

display(
    HTML("""
<style>
* {font-family:Consolas;}
div.container{width:87% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input { font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:3px;}
table.dataframe{font-size:12px;}
</style>
"""))

<b><font size="5" color="red">ch11_데이터프레임과 시리즈 (Pandas)</font><b>

- pip install pandas / conda install pandas (아나콘도 프롬프트)

# 1절. 판다스 패키지

- 데이터 분석을 위해 반드시 알아야 할 패키지, 넘파이 기반으로 다른 많은 라이브러리와 잘 통합되도록 설계
- 1차원 구조를 갖는 시리즈, 2차원 구조를 갖는 데이터프레임(excel의 스프레드시트)을 제공
- 판다스의 장점 : 파일io, 부분 데이터 추출, 크기 변경, 데이터 분할, 병합, 정렬, 결측치 처리, 피벗과 언피벗(와이드포맷과 롱포멧)에 용이


- [패키지 INDEX] (https://pypi.org/project/pandas/)
- [Pandas API referrence] (https://pandas.pydata.org/docs/reference/index.html#api)
- [Pandas docs] (https://pandas.pydata.org/docs/)

In [2]:
import pandas as pd
pd.__version__

'1.5.3'

In [3]:
data = pd.read_csv('data/ch09_member1.csv')# encoding='utf-8' 기본값
display(data)
type(data)

   홍길동  20  kildong@hong.com   서울시 관악구
0  김길동  40  kimdong@hong.com  서울시 영등포구
1  신길동  30  sindong@hong.com   서울시 동작구

pandas.core.frame.DataFrame

In [6]:
data = pd.read_json('data/ch09_member.json')
data

  name  age             email   address
0  홍길동   20  kildong@hong.com   서울시 관악구
1  김길동   40  kimdong@hong.com  서울시 영등포구
2  신길동   30  sindong@hong.com   서울시 동작구

In [17]:
iris = pd.read_hdf('data/ch09_iris.hdf5', key='iris')
iris.head() # 상위 5개

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# 2절. 데이터 프레임 만들기

## 2.1. 딕셔너리를 이용해서 데이터프레임 만들기

In [19]:
d = {'kor': [100, 90], 'mat': [95, 99]} # 딕셔너리를 데이터프레임으로
df = pd.DataFrame(data=d)
df

   kor  mat
0  100   95
1   90   99

In [20]:
df.to_dict() # 데이터 프레임을 딕셔너리로 변환

{'kor': {0: 100, 1: 90}, 'mat': {0: 95, 1: 99}}

In [21]:
df.to_numpy()

array([[100,  95],
       [ 90,  99]], dtype=int64)

In [49]:
# 딕셔너리 리스트를 데이터프레임
d = [{'kor': 100, 'mat': 95}, {'kor': 90., 'mat': 99}]
df = pd.DataFrame(data=d)
df

     kor  mat
0  100.0   95
1   90.0   99

In [47]:
df.dtypes

kor    float64
mat      int64
dtype: object

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     2 non-null      float64
 1   mat     2 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 160.0 bytes

In [62]:
d = [{'kor': 100, 'mat': 100}, {'kor': 90, 'mat': 91},{'kor': 93}]
df = pd.DataFrame(data=d)
df

   kor    mat
0  100  100.0
1   90   91.0
2   93    NaN

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     3 non-null      int64
 1   mat     2 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 176.0 bytes

In [68]:
d = [{
    'kor': 100,
    'mat': 100
}, {
    'kor': 90,
    'mat': 91
}, {
    'kor': 93,
    'eng': 100
}]
df = pd.DataFrame(data=d) # 결측치는 실수형 (float64), 정수형 변환 불가(결측치대체를 한후 정수형 변환)
df

   kor    mat    eng
0  100  100.0    NaN
1   90   91.0    NaN
2   93    NaN  100.0

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   kor     3 non-null      int64
 1   mat     2 non-null      float64
 2   math    1 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

## 2.2. 리스트를 이용해서 데이터 프레임 만들기

In [70]:
title = ['책1', '책2', '책3']
price = [15000, 18000, 10000]

df = pd.DataFrame(data={'title': title, 'price': price})
df

  title  price
0    책1  15000
1    책2  18000
2    책3  10000

In [83]:
import numpy as np
print(np.c_[title, price])

df = pd.DataFrame(np.c_[title, price], columns=['책이름','가격'])
df

[['책1' '15000']
 ['책2' '18000']
 ['책3' '10000']]

  책이름     가격
0  책1  15000
1  책2  18000
2  책3  10000

In [78]:
l = [['책1',15000],
     ['책2', 18000],
     ['책3', 10000]]
df = pd.DataFrame(l,columns=['책이름','가격'])
df

  책이름     가격
0  책1  15000
1  책2  18000
2  책3  10000

## 2.3. read_csv

In [97]:
%ls c:\ai_x\download\shareData\상가정보_20250331

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 3664-591E

 c:\ai_x\download\shareData\상가정보_20250331 디렉터리

2025-04-28  오후 03:50    <DIR>          .
2025-04-28  오후 03:50    <DIR>          ..
2025-04-21  오후 03:13             1,011 [필독]파일열람방법.txt
2025-04-21  오후 03:21        61,227,944 소상공인시장진흥공단_상가(상권)정보_강원_202503.csv
2025-04-21  오후 03:21       356,572,082 소상공인시장진흥공단_상가(상권)정보_경기_202503.csv
2025-04-21  오후 03:22        93,472,559 소상공인시장진흥공단_상가(상권)정보_경남_202503.csv
2025-04-21  오후 03:22        76,425,275 소상공인시장진흥공단_상가(상권)정보_경북_202503.csv
2025-04-21  오후 03:22        40,070,868 소상공인시장진흥공단_상가(상권)정보_광주_202503.csv
2025-04-21  오후 03:22        61,715,005 소상공인시장진흥공단_상가(상권)정보_대구_202503.csv
2025-04-21  오후 03:23        41,491,092 소상공인시장진흥공단_상가(상권)정보_대전_202503.csv
2025-04-21  오후 03:23        84,550,600 소상공인시장진흥공단_상가(상권)정보_부산_202503.csv
2025-04-21  오후 03:23       294,549,483 소상공인시장진흥공단_상가(상권)정보_서울_202503.csv
2025-04-21  오후 03:23         9,303,432 소상공인시장진흥공단_상가(상권)정보_세종_202503.csv
2025-04-21  오후 03:23        28,457,489 소상공인시장진흥공단_상가(상권)정보_울산_202503.csv
2025-04-21  오후 03:23        73,022,149 소상공인시장진흥공단_상가(상권)정보_인천_202503.csv
2025-04-21  오후 03:23        52,997,974 소상공인시장진흥공단_상가(상권)정보_전남_202503.csv
2025-04-21  오후 03:24        56,252,705 소상공인시장진흥공단_상가(상권)정보_전북_202503.csv
2025-04-21  오후 03:24        32,943,677 소상공인시장진흥공단_상가(상권)정보_제주_202503.csv
2025-04-21  오후 03:24        66,591,896 소상공인시장진흥공단_상가(상권)정보_충남_202503.csv
2025-04-21  오후 03:21        50,727,673 소상공인시장진흥공단_상가(상권)정보_충북_202503.csv
              18개 파일       1,480,372,914 바이트
               2개 디렉터리  156,104,663,040 바이트 남음

In [112]:
df = pd.read_csv(
    r'c:/ai_x/download/shareData/상가정보_20250331/소상공인시장진흥공단_상가(상권)정보_경기_202503.csv',
    encoding="utf-8",
    sep=",",
    low_memory=False,  # 데이터 용량이 클 경우에만 기입
    nrows=30,  # 처음 30행만
)
df.shape

(30, 39)

In [114]:
df.head(1)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220800000037,PENIEL,NaN,G2,소매,G217,시계·귀금속 소매,G21701,시계/귀금속 소매업,G47830,...,4115010100101320039021620,NaN,경기도 의정부시 시민로 132-1,480011,11697,NaN,NaN,NaN,127.049748,37.737903

In [125]:
# 판다스 디스플레이 옵션
pd.options.display.max_columns = 39  #기본값:20, 39열까지 display 가능
pd.options.display.max_rows = 40 # 40행까지 display 가능 (기본값 60)

df.head(2)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명,시도코드,시도명,시군구코드,시군구명,행정동코드,행정동명,법정동코드,법정동명,지번코드,대지구분코드,대지구분명,지번본번지,지번부번지,지번주소,도로명코드,도로명,건물본번지,건물부번지,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA010120220800000037,PENIEL,NaN,G2,소매,G217,시계·귀금속 소매,G21701,시계/귀금속 소매업,G47830,시계 및 귀금속 소매업,41,경기도,41150,의정부시,41150510,의정부1동,4115010100,의정부동,4115010100101320039,1,대지,132,39.0,경기도 의정부시 의정부동 132-39,411503181060,경기도 의정부시 시민로,132,1.0,4115010100101320039021620,NaN,경기도 의정부시 시민로 132-1,480011,11697,NaN,NaN,NaN,127.049748,37.737903
1,MA010120220800000124,계림찜닭,NaN,I2,음식,I201,한식,I20110,닭/오리고기 구이/찜,I56111,한식 일반 음식점업,41,경기도,41173,안양시 동안구,41173610,범계동,4117310400,호계동,4117310400110540008,1,대지,1054,8.0,경기도 안양시 동안구 호계동 1054-8,411733183004,경기도 안양시 동안구 귀인로,155,NaN,4117310400110540008005136,목련마을우성7단지,경기도 안양시 동안구 귀인로 155,431725,14076,NaN,지,NaN,126.956324,37.384544

In [128]:
df.head().T

,0,1,2,3,4
상가업소번호,MA010120220800000037,MA010120220800000124,MA010120220800000126,MA010120220800000165,MA010120220800000176
상호명,PENIEL,계림찜닭,한마음부동산,미사리풀하우스,아름다운보석세상
지점명,NaN,NaN,NaN,NaN,NaN
상권업종대분류코드,G2,I2,L1,I2,G2
상권업종대분류명,소매,음식,부동산,음식,소매
상권업종중분류코드,G217,I201,L102,I201,G217
상권업종중분류명,시계·귀금속 소매,한식,부동산 서비스,한식,시계·귀금속 소매
상권업종소분류코드,G21701,I20110,L10203,I20107,G21701
상권업종소분류명,시계/귀금속 소매업,닭/오리고기 구이/찜,부동산 중개/대리업,돼지고기 구이/찜,시계/귀금속 소매업
표준산업분류코드,G47830,I56111,L68221,I56113,G47830
표준산업분류명,시계 및 귀금속 소매업,한식 일반 음식점업,부동산 중개 및 대리업,한식 육류 요리 전문점,시계 및 귀금속 소매업
시도코드,41,41,41,41,41
시도명,경기도,경기도,경기도,경기도,경기도
시군구코드,41150,41173,41210,41450,41113
시군구명,의정부시,안양시 동안구,광명시,하남시,수원시 권선구
행정동코드,41150510,41173610,41210632,41450610,41113664
행정동명,의정부1동,범계동,하안2동,미사1동,호매실동
법정동코드,4115010100,4117310400,4121010300,4145011100,4111313500
법정동명,의정부동,호계동,하안동,미사동,호매실동
지번코드,4115010100101320039,4117310400110540008,4121010300106810004,4145011100100270003,4111313500100820006
대지구분코드,1,1,1,1,1
대지구분명,대지,대지,대지,대지,대지
지번본번지,132,1054,681,27,82
지번부번지,39.0,8.0,4.0,3.0,6.0
지번주소,경기도 의정부시 의정부동 132-39,경기도 안양시 동안구 호계동 1054-8,경기도 광명시 하안동 681-4,경기도 하남시 미사동 27-3,경기도 수원시 권선구 호매실동 82-6
도로명코드,411503181060,411733183004,412103187057,414504406104,411133175012
도로명,경기도 의정부시 시민로,경기도 안양시 동안구 귀인로,경기도 광명시 하안로,경기도 하남시 미사동로40번길,경기도 수원시 권선구 금호로
건물본번지,132,155,361,274,60
건물부번지,1.0,NaN,NaN,NaN,NaN
건물관리번호,4115010100101320039021620,4117310400110540008005136,4121010300106810004012360,4145011100100270003010163,4111313500100820006021689
건물명,NaN,목련마을우성7단지,한마음문화센터,NaN,NaN
도로명주소,경기도 의정부시 시민로 132-1,경기도 안양시 동안구 귀인로 155,경기도 광명시 하안로 361,경기도 하남시 미사동로40번길 274,경기도 수원시 권선구 금호로 60
구우편번호,480011,431725,423855,465140,441882
신우편번호,11697,14076,14245,12900,16395
동정보,NaN,NaN,NaN,NaN,NaN
층정보,NaN,지,NaN,NaN,1
호정보,NaN,NaN,NaN,NaN,NaN
경도,127.049748,126.956324,126.875713,127.210937,126.958093
위도,37.737903,37.384544,37.466749,37.561196,37.269762

In [171]:
# (1) CSV 파일 불러오기 (기본값)
# encording = 'utf-8', sep=',', csv파일의 첫번째 줄을 header, #이 있는 줄도 데이터로 인식
member = pd.read_csv('data/ch11_member.csv')
member

   Name  Age          Email  Address       Birth
0   홍길동   20  hong@hong.com  서울시 강동구  1999-01-01
1   홍길서   30   seo@hong.com   서울시 중구  1999-12-01
2   홍길남   21   nam@hong.com  서울시 강동구  1999-11-01
3   홍길북   22   buk@hong.com  서울시 관악구  1999-05-01
4   홍길중   23   mid@hong.com   부산시 중구  1999-01-30
5  #홍길뜽   24    non@not.com      없는구  2000-01-01

In [172]:
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int64
 2   Email    6 non-null      object
 3   Address  6 non-null      object
 4   Birth    6 non-null      object
dtypes: int64(1), object(4)
memory usage: 368.0+ bytes

In [174]:
# 형변환 Age열 : int64 -> int16 
member['Age'] = member['Age'].astype(np.int16) # int : np.int32
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     6 non-null      object
 1   Age      6 non-null      int16
 2   Email    6 non-null      object
 3   Address  6 non-null      object
 4   Birth    6 non-null      object
dtypes: int16(1), object(4)
memory usage: 332.0+ bytes

In [176]:
# 형변환 Birth 열 : object(문자) -> datetime64
member['Birth_as'] = member['Birth'].astype('datetime64')
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      6 non-null      object
 1   Age       6 non-null      int16
 2   Email     6 non-null      object
 3   Address   6 non-null      object
 4   Birth     6 non-null      object
 5   Birth_as  6 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int16(1), object(4)
memory usage: 380.0+ bytes

In [178]:
member['Birth_to'] = pd.to_datetime(member['Birth']) # astype()함수보다 안전한 형변환
member.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      6 non-null      object
 1   Age       6 non-null      int16
 2   Email     6 non-null      object
 3   Address   6 non-null      object
 4   Birth     6 non-null      object
 5   Birth_as  6 non-null      datetime64[ns]
 6   Birth_to  6 non-null      datetime64[ns]
dtypes: datetime64[ns](2), int16(1), object(4)
memory usage: 428.0+ bytes

In [181]:
# (2) 특정행 제외하고, csv 파일 읽기
member = pd.read_csv('data/ch11_membercp949.csv',
                     encoding="cp949",
                     skiprows=[1, 6]) # 1, 6번쨰 행은 제외하고 읽어오기
member

  Name  Age         Email  Address       Birth
0  홍길서   30  seo@hong.com   서울시 중구  1999-12-01
1  홍길남   21  nam@hong.com  서울시 강동구  1999-11-01
2  홍길북   22  buk@hong.com  서울시 관악구  1999-05-01
3  홍길중   23  mid@hong.com   부산시 중구  1999-01-30

In [193]:
# (3) 주석(#) 제외, datetime형 필드 지정하여 읽기
member = pd.read_csv('data/ch11_membertab.csv', encoding="UTF-8",
                     sep="\t",
                     comment='#', # 주석(#) 제외
                     parse_dates=['Birth'] # datetime형으로 읽어올 필드 지정
                    )
print(member.info())
member

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     5 non-null      object
 1   Age      5 non-null      int64
 2   Email    5 non-null      object
 3   Address  5 non-null      object
 4   Birth    5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes
None

  Name  Age          Email  Address      Birth
0  홍길동   20  hong@hong.com  서울시 강동구 1999-01-01
1  홍길서   30   seo@hong.com   서울시 중구 1999-12-01
2  홍길남   21   nam@hong.com  서울시 강동구 1999-11-01
3  홍길북   22   buk@hong.com  서울시 관악구 1999-05-01
4  홍길중   23   mid@hong.com   부산시 중구 1999-01-30

In [197]:
# (4) sep='|' 상위 몇행만 읽어오기
member = pd.read_csv('data/ch11_membersep.csv', encoding="UTF-8", 
                     sep="|",
                     nrows=3
                    )
member

  Name  Age          Email  Address       Birth
0  홍길동   20  hong@hong.com  서울시 강동구  1999-01-01
1  홍길서   30   seo@hong.com   서울시 중구  1999-12-01
2  홍길남   21   nam@hong.com  서울시 강동구  1999-11-01

## 2.4. 패키지에서 가져오기 : iris 데이터

### 2.4.1. iris 가져오기 방법1 : sklearn (머신러닝 패키지)

In [204]:
from sklearn import datasets
# from sklearn.datasets import load_iris

# sklearn : 머신러닝을 위한 함수(전처리함수, 머신러닝, 성능평가를 위한 함수)
iris = datasets.load_iris()
iris.keys()  # 딕셔너리 형태

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [205]:
print(iris.DESCR) # iris 데이터 셋에 대한 설명

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [207]:
iris.data # 독립변수
iris['data'][:3]

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [212]:
iris.feature_names # 독립변수의 열이름
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [226]:
# 데이터 프레임 열이름
columns = [col[:-5].replace(" ", "_") for col in iris.feature_names] + ['species']
columns

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [229]:
iris.target_names
iris['target_names'] # 머신러딩시 종속변수

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [232]:
iris['target_names'][iris['target']]
iris.target_names[iris.target]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype='<U10')

In [238]:
# 독립변수 
data = iris.data
# 종속변수
target = iris.target_names[iris.target]

data.shape, target.shape # 독립변수와 종속변수의 차원

data, target

(array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
        'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'versicolor',
        'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
        'virginica', 'virginica', 'virginica'], dtype='<U10'))

In [237]:
# 독립변수와 종속변수를 stack 한후 데이터 프레임으로 

pd.DataFrame(data=np.hstack((data, target.reshape(-1,1))), columns=columns)

    sepal_length sepal_width petal_length petal_width    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

### 2.4.2. iris 가져오기 방법2 : statsmodels (R 데이터)

### 2.4.3. iris 가져오기 방법3 : seaborn (시각화 패키지)